In [1]:
%cd drive/My\ Drive/HRL/Data\ Cleaning

/content/drive/My Drive/HRL/Data Cleaning

In [2]:
import numpy as np
import pandas as pd

In [3]:
data = pd.read_excel('NY_data.xlsx')
data.head()

  DONE Y/N NO FORM 431        DATE  Unnamed: 3  ...  STREET3  CITY3  STATE3  MEMO2
0      NaN         NaN         NaN         NaN  ...      NaN    NaN     NaN    NaN
1      NaN           X  2020.03.18         1.0  ...      NaN    NaN     NaN    NaN
2      NaN         NaN         NaN         NaN  ...      NaN    NaN     NaN    NaN
3      NaN         NaN         NaN         NaN  ...      NaN    NaN     NaN    NaN
4      NaN         NaN         NaN         NaN  ...      NaN    NaN     NaN    NaN

[5 rows x 52 columns]

In [4]:
data.info()
# index 32 is port2

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18563 entries, 0 to 18562
Data columns (total 52 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   DONE Y/N     233 non-null    object
 1   NO FORM 431  556 non-null    object
 2   DATE         789 non-null    object
 3   Unnamed: 3   781 non-null    float64
 4   Screened     18562 non-null  float64
 5   BOX          18562 non-null  float64
 6   CASENO1      18561 non-null  float64
 7   CASENO2      18559 non-null  float64
 8   NAME1        18552 non-null  object
 9   NAME2        18545 non-null  object
 10  NAME3        10155 non-null  object
 11  ALIAS1       8545 non-null   object
 12  ALIAS2       8528 non-null   object
 13  ALIAS3       6574 non-null   object
 14  CHINESE1     10960 non-null  object
 15  CHINESE2     10962 non-null  object
 16  CHINESE3     6591 non-null   float64
 17  CHINESE4     68 non-null     float64
 18  SEX          18359 non-null  object
 19  PORT         11607 non-null  object
 20  BIRTHPLACE   17672 non-null  object
 21  HOMETOWN     9670 non-null   object
 22  OCUPATION1   13763 non-null  object
 23  STREET1      10286 non-null  object
 24  CITY1        10628 non-null  object
 25  STATE1       10519 non-null  object
 26  SPONSOR      3418 non-null   object
 27  WIFE         18562 non-null  float64
 28  KIDS         7001 non-null   float64
 29  PICTURE      18562 non-null  float64
 30  INTEROG      18562 non-null  float64
 31  CASEDESCR    15989 non-null  object
 32  PORT2        6855 non-null   object
 33  SPONSADDR    0 non-null      float64
 34  COMMENTS     10133 non-null  object
 35  AGE          14036 non-null  float64
 36  DOCDATE      18466 non-null  object
 37  THIRD1       1533 non-null   object
 38  THIRD2       1529 non-null   object
 39  THIRD3       1027 non-null   object
 40  BIRTHDATE    27 non-null     object
 41  ENTRYDATE    12067 non-null  object
 42  ENTRYDATE2   7927 non-null   object
 43  OCUPATION2   2387 non-null   object
 44  OCUPATION3   228 non-null    object
 45  STREET2      2251 non-null   object
 46  CITY2        2362 non-null   object
 47  STATE2       2336 non-null   object
 48  STREET3      428 non-null    object
 49  CITY3        453 non-null    object
 50  STATE3       446 non-null    object
 51  MEMO2        331 non-null    object
dtypes: float64(13), object(39)
memory usage: 7.4+ MB

In [5]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [ ]:
data.loc[:,"PORT2"] = data.loc[:,"PORT2"].replace(["NEW YORK,NY", 'NEW YORK', 'NEW YORK CITY', 'NEW YOR, NY', 'NEW YOKR,NY', 'NEW YROK, N', 'NEW YROK, NY'],"NEW YORK, NY")
data.loc[:,"PORT2"] = data.loc[:,"PORT2"].replace(['MALONE,NY', 'MALONE', 'MALONE NY', 'MOLONE, NY', 'MLAONE,NY'], "MALONE, NY")
data.loc[:,"PORT2"] = data.loc[:,"PORT2"].replace(['SEATTLE,WA', 'SEATTLE', 'SEATTLE WA', 'SEATTKE', 'SEATTLE, NY', 'SEATTTLE, WA', 'SEATTLE  WA', 'SEATTLE]', 'SEATTLE, W', 'SEATTLE. WA', 'SEATTLE,NY', 'SEATTLE ,WA', 'SEATTLE WA.', 'SETATTLE', 'SEATTKE,WA'], "SEATTLE, WA")
data.loc[:,"PORT2"] = data.loc[:,"PORT2"].replace(['BOSTON,MA', 'BOSTON'], "BOSTON, MA")
data.loc[:,"PORT2"] = data.loc[:,"PORT2"].replace(['VANCOUVER', 'VANCOUVER,B.C.', 'VANVCOUVER', 'VANCOUVER,BC'], "VANCOUVER, B.C.")
data.loc[:,"PORT2"] = data.loc[:,"PORT2"].replace(['SAN FRANCISCO', 'SAN FRANCSICO', 'SAB FRANCISCO'], "SAN FRANCISCO, CA")
data.loc[:,"PORT2"] = data.loc[:,"PORT2"].replace(['RICHFORD,VT', 'RICHFROD,VT', 'RICHFORD VT'], "RICHFORD, VT")
data.loc[:,"PORT2"] = data.loc[:,"PORT2"].replace(['ST ALBANS,VT', 'ST ALBANS, VT', 'ST ALBAN\'S', 'ST ALBANY,VT'], "ST. ALBANS, VT")
data.loc[:,"PORT2"] = data.loc[:,"PORT2"].replace(['RICHFORD,VT', 'RICHFROD,VT', 'RICHFORD VT'], "RICHFORD, VT")
data.loc[:,"PORT2"] = data.loc[:,"PORT2"].replace(['NY VIA TRINIDAD', 'NY VIA HAVANA', 'NY VIA MEXICO', 'NY VIA CUBA', 'NY VIA CANADA', 'NY VIA CUBA'], "NY")
data.loc[:,"PORT2"] = data.loc[:,"PORT2"].replace(['PLATTSBURGH,NY', 'PLATTSBURG,NY', 'PLATTSBURG, NY'], "PLATTSBURGH, NY")
data.loc[:,"PORT2"] = data.loc[:,"PORT2"].replace(['MONTREAL', 'MONTREAL,CANADA'], "MONTREAL, CANADA")
data.loc[:,"PORT2"] = data.loc[:,"PORT2"].replace(['BURLINGTON,VT'], "BURLINGTON, VT")
data.loc[:,"PORT2"] = data.loc[:,"PORT2"].replace(['VERMONT'], "VT")
data.loc[:,"PORT2"] = data.loc[:,"PORT2"].replace(['ROUSES POINT,NY', 'ROUSE PORT, NY', 'REUSES PONIT,NY'], "ROUSES POINT, NY")
data.loc[:,"PORT2"] = data.loc[:,"PORT2"].replace(['BUFFALO,NY', 'BUFFALO', 'BUFFAOL, NY'], "BUFFALO, NY")
data.loc[:,"PORT2"] = data.loc[:,"PORT2"].replace(['PHILADELPHIA', 'PHILADELPHIA,PA'], "PHILADELPHIA, PA")
data.loc[:,"PORT2"] = data.loc[:,"PORT2"].replace(['BROOKLYN,NY'], "BROOKLYN, NY")
data.loc[:,"PORT2"] = data.loc[:,"PORT2"].replace(['BALTIMORE,MD', 'BALTIMORE'], "BALTIMORE, MD")
data.loc[:,"PORT2"] = data.loc[:,"PORT2"].replace(['LOS ANGELES'], "LOS ANGELES, CA")
data.loc[:,"PORT2"] = data.loc[:,"PORT2"].replace(['HONOLULU', 'HONOLULU,HI'], "HONOLULU, HI")
data.loc[:,"PORT2"] = data.loc[:,"PORT2"].replace(['BROOKLYN,NY'], "BROOKLYN, NY")
data.loc[:,"PORT2"] = data.loc[:,"PORT2"].replace(['EAST BOSTON MA'], "EAST BOSTON, MA")
data.loc[:,"PORT2"] = data.loc[:,"PORT2"].replace(['VICTORIA,BC', 'VICTORIA'], "VICTORIA, B.C.")
data.loc[:,"PORT2"] = data.loc[:,"PORT2"].replace(['PT TOWNSEND,WA', 'TOWNSEND,WA', 'PT TOWNSEND, WA'], "PORT TOWNSEND, WA")
data.loc[:,"PORT2"] = data.loc[:,"PORT2"].replace(['PORTAL,ND'], "PORTAL, ND")
data.loc[:,"PORT2"] = data.loc[:,"PORT2"].replace(['PT HENRY,NY', 'PORT HENRY,NY', 'POINT HENRY,NY'], "PORT HENRY, NY")
data.loc[:,"PORT2"] = data.loc[:,"PORT2"].replace(['DETROIT', 'DEROIT, MI'], "DETROIT, MI")
data.loc[:,"PORT2"] = data.loc[:,"PORT2"].replace(['NEWPORT,VT'], "NEWPORT, VT")
data.loc[:,"PORT2"] = data.loc[:,"PORT2"].replace(['NIAGARAFALLS,NY', 'NIAGARA FALLS'], "NIAGARA FALLS, NY")
data.loc[:,"PORT2"] = data.loc[:,"PORT2"].replace(['TACOMA,WA'], "TACOMA, WA")
data.loc[:,"PORT2"] = data.loc[:,"PORT2"].replace(['MOUNT VERNON,NY'], "MOUNT VERNON, NY")
data.loc[:,"PORT2"] = data.loc[:,"PORT2"].replace(['LAREDO'], "LAREDO, TX")
data.loc[:,"PORT2"] = data.loc[:,"PORT2"].replace(['LEWISTON, NY(?)'], "LEWISTON, NY")
data.loc[:,"PORT2"] = data.loc[:,"PORT2"].replace(['OGDENSBURG,NY'], "OGDENSBURG, NY")
data.loc[:,"PORT2"] = data.loc[:,"PORT2"].replace(['PORTLAND,OR'], "PORTLAND, OR")
data.loc[:,"PORT2"] = data.loc[:,"PORT2"].replace(['EL PASO,TX'], "EL PASO, TX")
data.loc[:,"PORT2"] = data.loc[:,"PORT2"].replace(['SUMAS,WA'], "SUMAS, WA")
data.loc[:,"PORT2"] = data.loc[:,"PORT2"].replace(['HOBOKEN,NJ'], "HOBOKEN, NJ")
data.loc[:,"PORT2"] = data.loc[:,"PORT2"].replace(['SAULTE STE MARI', 'SAULT STE MARIE', 'SAULTE STE. MARI, CANADA'], "SAULT STE. MARI, CANADA")
data.loc[:,"PORT2"] = data.loc[:,"PORT2"].replace(['MINNEAPOLIS,MN'], "MINNEAPOLIS, MN")
data.loc[:,"PORT2"] = data.loc[:,"PORT2"].replace(['POUGHKEEPSIE,NY'], "POUGHKEEPSIE, NY")
data.loc[:,"PORT2"] = data.loc[:,"PORT2"].replace(['DAYTONA, FL'], "DAYTONA BEACH, FL")
data.loc[:,"PORT2"] = data.loc[:,"PORT2"].replace(['22', 'K'], "")

In [6]:
data["PORT2"].value_counts()

MALONE,NY          1953
SEATTLE, WA        1191
SAN FRANCISCO       635
NEW YORK, NY        524
SEATTLE,WA          506
SEATTLE             480
MALONE, NY          389
NEW YORK            322
NEW YORK,NY         213
VANCOUVER           111
BOSTON,MA            62
BOSTON, MA           46
BOSTON               43
RICHFORD,VT          30
MONTREAL             29
VANCOUVER,BC         20
PLATTSBURGH,NY       14
BURLINGTON,VT        11
ST ALBANS,VT         11
NY VIA TRINIDAD      11
BUFFALO, NY          11
ST ALBANS, VT        10
RICHFORD, VT          9
MALONE                9
SEATTLE WA            9
ROUSES POINT,NY       9
PHILADELPHIA          8
NEW YORK CITY         7
EAST BOSTON, MA       7
LOS ANGELES, CA       6
SAN PEDRO, CA         6
BUFFALO,NY            6
ST. ALBANS, VT        5
PORT HENRY, NY        5
HONOLULU, HI          5
MONTREAL,CANADA       4
PORTAL,ND             4
PT TOWNSEND,WA        4
LOS ANGELES           4
NY VIA HAVANA         4
KEY WEST, FL          3
HONOLULU              3
PT HENRY,NY           3
PORT HENRY,NY         3
BUFFALO               3
PORTAL, ND            3
NIAGARA FALLS         3
SEATTKE               3
NY VIA MEXICO         2
NEW YOR, NY           2
DETROIT               2
NEWPORT, VT           2
SAN FRANCSICO         2
NEWPORT,VT            2
PHILADELPHIA,PA       2
MALONE NY             2
PLATTSBURG, NY        2
PT TOWNSEND, WA       2
TOWNSEND,WA           2
BALTIMORE,MD          2
PORT HURON, MI        2
VANCOUVER,B.C.        2
SEATTLE, NY           2
VICTORIA,BC           2
TACOMA,WA             2
CHICAGO, IL           2
EAST BOSTON MA        1
RICHFROD,VT           1
LEWISTON, NY(?)       1
MINNEAPOLIS,MN        1
DAYTONA, FL           1
RICHFORD VT           1
NIAGARAFALLS,NY       1
LAREDO                1
NY                    1
SAB FRANCISCO         1
NEW ORLEANS, LA       1
NEW YROK, NY          1
PORTLAND, OR          1
BALTIMORE             1
BUFFAOL, NY           1
SEATTLE WA.           1
SETATTLE              1
MOLONE, NY            1
BROOKLYN,NY           1
NEW YOKR,NY           1
SEATTLE, W            1
NEW HAVEN, CT         1
ST ALBANY,VT          1
SEATTKE,WA            1
SEATTLE ,WA           1
ROUSE PORT, NY        1
HONOLULU,HI           1
GLOUCESTER, NJ        1
MOUNT VERNON,NY       1
VANVCOUVER            1
POINT HENRY,NY        1
BROOKLYN, NY          1
PLATTSBURG,NY         1
SAULTE STE MARI       1
MLAONE,NY             1
DEROIT, MI            1
SEATTLE  WA           1
TAMPA, FL             1
PORTLAND,OR           1
SAULT STE MARIE       1
MIAMI, FL             1
HOBOKEN,NJ            1
SUMAS, WA             1
SEATTLE. WA           1
22                    1
VICTORIA              1
VT                    1
NY VIA CANADA         1
ET                    1
SEATTLE,NY            1
K                     1
SUMAS,WA              1
SEATTLE]              1
EL PASO,TX            1
SEATTTLE, WA          1
ST ALBAN'S            1
VERMONT               1
NY VIA CUBA           1
OGDENSBURG,NY         1
POUGHKEEPSIE,NY       1
REUSES PONIT,NY       1
PLATTSBURGH, NY       1
Name: PORT2, dtype: int64

In [7]:
lst = data.loc[:,"PORT2"]
CITY = []
STATE = []
for i in lst:
    if pd.notnull(i):
        temp = i.split(",")
        if len(temp) != 1 and len(temp) != 2:
            print(temp)
        if len(temp) == 1:
            CITY.append(0)
            STATE.append(temp[0].strip())
        else:
            CITY.append(temp[0].strip())
            STATE.append(temp[1].strip())
    else:
        CITY.append(i)
        STATE.append(i)

In [8]:
header = ['PORT2']
PORT2 = data.loc[:,"PORT2"]
PORT2.to_csv('./cleaned_data/PORT2.csv', columns = header, index=False)