In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv("CHINESE DB.csv")

In [3]:
data.head()

,DONE Y/N,NO FORM 431,DATE,Screened,BOX,CASENO1,CASENO2,NAME1,NAME2,NAME3,...,ENTRYDATE2,OCUPATION2,OCUPATION3,STREET2,CITY2,STATE2,STREET3,CITY3,STATE3,MEMO2
0,NaN,NaN,NaN,False,1,5.0,3.0,CHIN,GOK,PO,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,X,2020.03.18,False,1,5.0,4.0,HOM,CHEE,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,False,1,5.0,9.0,WILLIAM,K,WONG,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,False,1,5.0,10.0,LEE,DEN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,False,1,5.0,19.0,YEE,HING,NaN,...,NaN,NaN,NaN,NaN,SAN FRANCISCO,CA,NaN,NaN,NaN,NaN

In [4]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [5]:
from fuzzywuzzy import process as process
from fuzzywuzzy import fuzz as fuzz
def similar(df, column, string_to_match, min_ratio = 90):
    # get a list of unique strings
    strings = df[column].unique()
    
    # get the top 10 closest matches to our input string
    matches = process.extract(string_to_match, strings, limit=10, scorer= fuzz.token_sort_ratio)

    # only get matches with a ratio > 90
    close_matches = [matches[0] for matches in matches if matches[1] >= min_ratio]

    print(close_matches)
def replace_matches_in_column(df, column, string_to_match, min_ratio = 90):
    # get a list of unique strings
    strings = df[column].unique()
    
    # get the top 10 closest matches to our input string
    matches = process.extract(string_to_match, strings, limit=10, scorer= fuzz.token_sort_ratio)

    # only get matches with a ratio > 90
    close_matches = [matches[0] for matches in matches if matches[1] >= min_ratio]

    # get the rows of all the close matches in our dataframe
    rows_with_matches = df[column].isin(close_matches)

    # replace all rows with close matches with the input matches 
    df.loc[rows_with_matches, column] = string_to_match
    print(close_matches)
    # let us know the function's done
    print("All done!")

In [6]:
lissy = data.loc[:,"OCUPATION1"]
index = data.columns.get_loc("OCUPATION1")
ind_1 = index 
data.insert(ind_1,'ORIGINALOCU1',lissy)

In [7]:
lissy = data.loc[:,"OCUPATION2"]
index = data.columns.get_loc("OCUPATION2")
ind_1 = index 
data.insert(ind_1,'ORIGINALOCU2',lissy)

In [8]:
lissy = data.loc[:,"OCUPATION3"]
index = data.columns.get_loc("OCUPATION3")
ind_1 = index
data.insert(ind_1,'ORIGINALOCU3',lissy)

In [9]:
#combining merchant
data["OCUPATION1"].replace(["TREATY MERCHANT","TEA MERCHANT","MERCHANT(CHINESE DRUG)","MERCHANT (DRUGGIST)","BANKER"],"MRECHANT", inplace = True)

In [10]:
#other combination
data["OCUPATION1"].replace("GROCER","GROCERY",inplace=True)
data["OCUPATION1"].replace(["RESTAURANT ASSIST MANAGER","MANAGER OF RESTAURANT","RESTAURANT BUSINESS","RESTAURANT PROPRIETOR","RESTAURANT PROPRIETOR","RESTAURANT KEEPER","RESTAURANT","RESTAURANT MANAGER","RESTAURANT MANAGER","RESTAURATEUR","RESTAURANTER","RESTUARNAT MANAGER"],"RESTAURANT OWNER",inplace = True)

data["OCUPATION1"].replace("LAUNDRY OPERATOR","LAUNDRY PROPRIETOR",inplace = True)

In [11]:
#Native
data["OCUPATION1"].replace(["NATIVE CHILD","ALLEGED NATIVE","NATIVE BORN","RETURNING NATIVE"],"CITIZEN", inplace = True)

In [12]:
#combining cook
data["OCUPATION1"].replace(["COOK ON SHIP","1ST COOK","PASTRY COOK","DISH WASHER & COOK","RESTAURANT COOK","ARMY COOK","SHIP COOK"],"COOK", inplace = True)

In [13]:
#combining transient
data["OCUPATION1"].replace(["TRANSIT","IN TRANSIT","BONDED TRANSIT"],"TRANSIENT",inplace = True)
data["OCUPATION1"].replace("MERCHANT/TRANSIENT","TRANSIENT MERCHANT",inplace = True)

In [14]:
#miss-spelling
data["OCUPATION1"].replace(["SON OF CITIZEN","SON OF CITIZE","SON OF CITIEN","SON OF CITIZIN","SON/CITIZEN","SON OF CITIZENT","SON OF SITIZEN","Son of citizen","MINOR SON OF A CITIZEN","SON OF A DECEASED CITIZEN","SON OF CITITZEN","SON OF U.S. CITIZEN","SON OF HAWAII BORN CITIZE","SUN OF CITIZEN"],"SON OF A CITIZEN", inplace = True)
data["OCUPATION1"].replace(["SON OF NATIVE","SON OF A NAITVE","SON OF NATIVE (GOW YOUNG)","SON/NATIVE","SON OF A NTIAVE","SON OF A DECEASED NATIVE","MINOR SON OF A NATIVE"],"SON OF A CITIZEN", inplace = True)
data["OCUPATION1"].replace(["SON OF MERCHANT","SON/MERCHANT","SON OF A MERCHATN","SONF OF A MERCHANT","MERCHAN","SON OF MERCANT","SON OF MERHCANT","MERCHANT'S SON","MINOR SON OF A MERCHANT","SON OF MERCHANT(CHIN YOU)","MONOR SON OF MERCHANT"], "SON OF A MERCHANT", inplace = True)
data["OCUPATION1"].replace(["UNITED STATES CITIZEN","CITIZEN'S STATUS"], "CITIZEN", inplace = True)
data["OCUPATION1"].replace(["WIFE OF DIPLOMAT","DIPLOMAT'S WIFE"], "WIFE OF A DIPLOMAT", inplace = True)
data["OCUPATION1"].replace(["WIFE OF NATIV","WIFE OF NATIVE"], "WIFE OF A CITIZEN", inplace = True)
data["OCUPATION1"].replace(["WIFE OF MERCHANT","MERCHANT'S WIFE"],"WIFE OF A MERCHANT", inplace = True)
data["OCUPATION1"].replace(["WIFE OF INTERPRETER"],"WIFE OF AN INTERPRETER", inplace = True)
data["OCUPATION1"].replace(["DIPLMAT","DIPLIMAT"],"DIPLOMAT", inplace = True)
data["OCUPATION1"].replace(["STUDNET","ADMITTED AS STUDENT","RETURNING STUDENT","ART STUDENT","GOVERNMENT STUDENT"], "STUDENT", inplace = True)
data["OCUPATION1"].replace(["Merchant","MERCHANRT","MERHCANT","MRECHANT","SOPESTONE MERCHANT","MERCHANT (TEMP. VISIT)","MERCHANT (TEMP. VISITOR)","RETURNING MERCHANT"], "MERCHANT", inplace = True)
data["OCUPATION1"].replace(["Wife of citizen", "WIFE OF CITIZEN","WIFE/CITIZEN"],"WIFE OF A CITIZEN", inplace = True)

In [15]:
data["OCUPATION1"].replace(["LAUNDRYMEN","LAUNDDRYMAN","LAUNDYRMAN","LUNDRYMAN","LANUNDRYMAN"],"LAUNDRYMAN", inplace = True)
data["OCUPATION1"].replace(["LOBORER","LAORER","LABORE","LABORERS","LABORER RETURN","LABORER (WAITER)","LABORER- TRAVELER","FARM LABORER","LABOR"],"LABORER", inplace = True)
data["OCUPATION1"].replace("RETAURANT","RESTAURANT", inplace = True)
data["OCUPATION1"].replace(["LAUNDRYK","LAUDRY","LAUDNRY"],"LAUNDRY", inplace = True)
data["OCUPATION1"].replace(["NATIVE LAUNDRY","LAUNDRY"],"LAUNDRYMAN",inplace = True)
data["OCUPATION1"].replace(["928 FULTON ST","3","NAME"],np.nan, inplace = True)
data["OCUPATION1"].replace(["NATIVE RETURN"],"RETURNING CITIZEN", inplace = True)
data["OCUPATION1"].replace(["MERCHANT RETURN"],"RETURNING MERCHANT", inplace = True)
data["OCUPATION1"].replace(["CITIZEN'S RETURN","CITIZENS RETURN","CITIZEN RETURN"],"RETURNING CITIZEN", inplace = True)
data["OCUPATION1"].replace(["WIFE OF STUDENT"],"WIFE OF A STUDENT", inplace = True)
data["OCUPATION1"].replace(["MINOR SON OF MERCHANT","MINOR SON MERCHANT","MINOR OF MERCHANT","MONOR SON OF A MERCNANT","MIRON SON OF MERCHANT","MONOR SON OF A MERCHANT"],"SON OF A MERCHANT", inplace = True)

In [16]:
data["OCUPATION1"].replace(["MINOR SON OF CITIZEN"],"MINOR SON OF A CITIZEN", inplace = True)
data["OCUPATION1"].replace(["MINOR SON OF NATIVE"],"MINOR SON OF A CITIZEN", inplace = True)
data["OCUPATION1"].replace(["DAUGHTER OF CITIZEN"],"DAUGHTER OF A CITIZEN", inplace = True)
data["OCUPATION1"].replace(["GRANDSON OF CITIZEN"],"GRANDSON OF A CITIZEN", inplace = True)
data["OCUPATION1"].replace(["DAUGHTER OF NATIVE","DAUGHTER OF NAITVE","DAUGTHER OF NATIVE","DAUGHTER OF FEMALE NATIVE"],"DAUGHTER OF A CITIZEN", inplace = True)
data["OCUPATION1"].replace(["DAUGHTER OF MERCHANT","Merchant'sAdoptedDaughter"],"DAUGHTER OF A MERCHANT", inplace = True)
data["OCUPATION1"].replace(["TRAVELLER","TRAVEL","TRAVELLER"],"TRAVELER", inplace = True)
data["OCUPATION1"].replace(["JORNALIST"],"JOURNALIST", inplace = True)
data["OCUPATION1"].replace(["GOV'T OFFICIAL","GOVERNMENT OFFICIER*","GOVT. OFFICIAL","GOVERNMENT OFFICIALS"],"GOVERNMENT OFFICIAL", inplace = True)
data["OCUPATION1"].replace(["OFFICAL"],"OFFICIAL", inplace = True)
data["OCUPATION1"].replace(["STOWAWAYS"],"STOWAWAY", inplace = True)
data["OCUPATION1"].replace(["ACTORS","ACOTR"],"ACTOR", inplace = True)
data["OCUPATION1"].replace(["ADOPTED SON OF MERCHANT"],"ADOPTED SON OF A MERCHANT", inplace = True)

In [17]:
#COMBINING DIFFERENT TYPES OF "SON"
data["OCUPATION1"].replace(["NATIVE SON OF MERCHANT","ADOPTED SON OF A MERCHANT"],"SON OF A MERCHANT", inplace = True)
data["OCUPATION1"].replace(["ADOPTED SON OF A CITIZEN"],"SON OF A CITIZEN", inplace = True)
data["OCUPATION1"].replace(["ADOPTED SON OF A NATIVE","SON OF FEMALE NATIVE","SON OF HAWAII NATIVE"],"SON OF A CITIZEN", inplace = True)
data["OCUPATION1"].replace(["DAUGHTER OF HAWAII NATIVE"],"DAUGHTER OF A CITIZEN", inplace = True)

In [18]:
lissy = data['OCUPATION2'].drop_duplicates().values.tolist()
for i in lissy[1:]:
    similar(data, "OCUPATION2", i, min_ratio = 65)

['FARMER', 'BARBER', 'FARM LABORER']
['BOOKKEEPER', 'CASHIER & BOOKKEEPER', 'MANAGER & BOOKKEEPER', 'BOOKKEEPER & SALESMAN', 'SALESMAN & BOOKKEEPER', 'BOOKKEEPER & COLLECTER']
['RESTAURATEUR', 'RESTAURANT', 'RESTAURANT WORKER', 'RESTUARANT WORKER', 'TREASURER']
['LAUNDRYMAN', 'LAUNDRYAMAN', 'LAUNDRY', 'LAUNDRYK', 'LAUUNDRY', 'SEAMAN & LAUNDRYMAN']
['MERCHANT', 'MERCHNAT', 'PICKLE MERCHANT', 'SON OF MERCHANT', 'SERVANT', 'WIFE OF MERCHANT']
['SON OF A CITIZEN', 'SON OF CITIZEN', 'SON/CITIZEN', 'SON OF NATIVE', 'SON OF A MERCHANT']
['WAITER', 'PAINTER', 'HEAD WAITER', 'COOK & WAITER', 'WAITRESS']
['LABORER', 'LABOERE', 'FARM LABORER']
['CLERK']
['STUDENT', 'WAITER & STUDENT', 'STUDENT (AGE 10)']
['RESTAURANT MANAGER', 'RESTAURANT ASSIST MANAGER', 'RESTAURANT OWNER', 'PRESIDENT & MANAGER', 'RESTAURANT', 'RESTAURANT PROPRIETOR']
['SON OF A MERCHANT', 'SON OF MERCHANT', 'MINOR SON OF A MERCHANT', 'ADOPTED SON OF A MERCHANT', 'SECTION 6 MERCHANT', 'WIFE OF MERCHANT', 'DAUGHTER OF MERCHANT', 'SON OF A CITIZEN', 'MERCHANT (SANG CHANG CO.)']
['COOK']
['IN TRANSIT', 'TRANSIT', 'TRANSIENT']
['SALESMAN', 'SALESMAN & BUYER', 'SEAMAN', 'POULTRY SALESMAN']
['DOMESTIC WORKER']
['CASHIER', 'CAHSIER']
['SALESMAN & COLLECTOR', 'POULTRY SALESMAN', 'MUSEUM COLLECTOR', 'SALESMAN & BUYER', 'COLLECTOR', 'LIVE POULTRY SALESMAN', 'BOOKKEEPER & SALESMAN', 'SALESMAN & BOOKKEEPER']
['BUYER', 'BUTLER']
['BUYER & STOCK KEEPER']
['ASSISTANT MANAGER', 'RESTAURANT ASSIST MANAGER']
['BARBER', 'FARMER']
['JOURNALIST']
['CHINESE GROCER', 'CHINESE DOCTOR', 'CHINESE OFFICIAL']
['SECRETARY']
['MINOR']
['MANAGER']
['DISHWASHER', 'DISWASHER', 'DISHWASHER & WAITER']
['YOUTH']
['PRESIDENT', 'PRESIDENT & MANAGER', 'TRANSIENT']
["CITIZEN'S RETURN", 'RETURNING CITIZEN', 'SON/CITIZEN', 'SON OF CITIZEN']
['TEACHER']
['LAUNDRY', 'LAUNDRYK', 'LAUUNDRY', 'LAUNDRYMAN', 'LAUNDRYAMAN']
['RESTUARANT WORKER', 'RESTAURANT WORKER', 'RESTAURANT']
['RESTAURANT ASSIST MANAGER', 'RESTAURANT MANAGER', 'RESTAURANT OWNER', 'ASSISTANT MANAGER']
['IMPORTER']
['CIVIL ENGINEER', 'ENGINEER', 'ELECTRIC ENGINEER', 'CONSULTING ENGINEER']
['CIGAR MAKER', 'BOILER MAKER', 'CIGAR FACTORY']
["REC'D & SHIPPING CLERK"]
['SINGER']
['COLLECTOR', 'MUSEUM COLLECTOR', 'SALESMAN & COLLECTOR', 'SOLICITOR', 'DOCTOR']
['PHYSICIAN']
['SEAMAN', 'SALESMAN']
['GENERAL HELPER', 'GENERAL MANAGER']
['RESTAURANT WORKER', 'RESTUARANT WORKER', 'RESTAURANT', 'RESTAURATEUR']
['WIFE OF A STUDENT', 'WAITER & STUDENT']
['GROCER', 'GROCERY']
['WAITER & STUDENT', 'WIFE OF A STUDENT', 'STUDENT']
['LAUNDRY PROPRIETOR', 'LAUNDRY PROPRIETER']
['ADOPTED DAUGHTER', 'ADOPTED DAUGHER']
['BOATSWAIN']
['#1 FIREMAN', 'FIREMAN']
['ADOPTED SON OF A MERCHANT', 'SON OF A MERCHANT', 'SON OF MERCHANT', 'MINOR SON OF A MERCHANT', 'DAUGHTER OF MERCHANT']
['MINOR SON OF A MERCHANT', 'SON OF A MERCHANT', 'SON OF MERCHANT', 'ADOPTED SON OF A MERCHANT']
['STOWAWAY']
['FIREMAN', '#1 FIREMAN']
['NEWSPAPER MANAGER', 'THEATER MANAGER']
['ADOPTED DAUGHER', 'ADOPTED DAUGHTER']
['LAUNDRY PROPRIETER', 'LAUNDRY PROPRIETOR']
['CURIOS DEALER']
['NURSE']
['HEAD WAITER', 'WAITER']
['DISHWASHER & WAITER', 'DISHWASHER', 'DISWASHER']
['TRAVELER']
['RESTAURANT PROPRIETOR', 'RESTAURANT OWNER', 'RESTAURANT MANAGER', 'RESTAURANT']
['KITCHEN WORKER & BUSBOY']
['VEGETABLE PEDDLER']
['BOOKKEEPER & SALESMAN', 'SALESMAN & BOOKKEEPER', 'MANAGER & BOOKKEEPER', 'SALESMAN & BUYER', 'CASHIER & BOOKKEEPER', 'BOOKKEEPER', 'BOOKKEEPER & COLLECTER', 'SALESMAN & COLLECTOR']
['EDITOR IN CHIEF']
['CASHIER & BOOKKEEPER', 'MANAGER & BOOKKEEPER', 'BOOKKEEPER & COLLECTER', 'BOOKKEEPER', 'BOOKKEEPER & SALESMAN', 'SALESMAN & BOOKKEEPER']
['LIFE INSURANCE SALESMAN']
['CHINESE DOCTOR', 'CHINESE GROCER', 'CHINESE MEDICAL DOCTOR', 'CHINESE OFFICIAL']
['GENERAL MANAGER', 'GENERAL HELPER', 'MANAGER & BOOKKEEPER']
['CROONER']
['COOK & WAITER', 'WAITER']
['TREASURER', 'RESTAURATEUR']
['CAHSIER', 'CASHIER']
['PROFESSOR OF HISTORY']
['CHRISTIAN MINISTER']
['BOOKKEEPER & SALESMAN', 'SALESMAN & BOOKKEEPER', 'MANAGER & BOOKKEEPER', 'SALESMAN & BUYER', 'CASHIER & BOOKKEEPER', 'BOOKKEEPER', 'BOOKKEEPER & COLLECTER', 'SALESMAN & COLLECTOR']
['PRESIDENT & MANAGER', 'RESTAURANT MANAGER', 'PRESIDENT']
['INTERPRETER', 'CHINESE INTERPRETER']
['HEAD COOK']
['SALESMAN & BUYER', 'SALESMAN', 'BOOKKEEPER & SALESMAN', 'SALESMAN & BOOKKEEPER', 'POULTRY SALESMAN', 'SALESMAN & COLLECTOR']
['ACTOR', 'DOCTOR', 'ACTRESS']
['LIVE POULTRY SALESMAN', 'POULTRY SALESMAN', 'SALESMAN & COLLECTOR']
['POULTRY SALESMAN', 'LIVE POULTRY SALESMAN', 'SALESMAN & COLLECTOR', 'SALESMAN & BUYER', 'SALESMAN']
['BOOKKEEPER & COLLECTER', 'CASHIER & BOOKKEEPER', 'MANAGER & BOOKKEEPER', 'BOOKKEEPER', 'BOOKKEEPER & SALESMAN', 'SALESMAN & BOOKKEEPER']
['MANAGER & BOOKKEEPER', 'CASHIER & BOOKKEEPER', 'BOOKKEEPER & SALESMAN', 'SALESMAN & BOOKKEEPER', 'BOOKKEEPER', 'BOOKKEEPER & COLLECTER', 'GENERAL MANAGER']
['CHINESE MEDICAL DOCTOR', 'CHINESE DOCTOR', 'CHINESE OFFICIAL']
['MAIL ATTENDANT']
['PEDDLER']
['ENGLISH EDITOR']
['MEDICAL STUDENT', 'ADMITTED AS STUDENT']
['SEAMAN & LAUNDRYMAN', 'LAUNDRYAMAN', 'LAUNDRYMAN']
['PACKER']
['DIPLOMAT']
['ELECTRIC ENGINEER', 'ELECTRICAL TECHNICIAN', 'CONSULTING ENGINEER', 'CIVIL ENGINEER']
['MERCHANT (SANG CHANG CO.)', 'SON OF A MERCHANT']
['RESTAURANT', 'RESTAURATEUR', 'RESTAURANT OWNER', 'RESTAURANT WORKER', 'RESTAURANT MANAGER', 'RESTUARANT WORKER', 'RESTAURANT PROPRIETOR']
['SOLICITOR', 'COLLECTOR', 'DOCTOR']
['OFFICIAL', 'OFFICIAL STATUS', 'CHINESE OFFICIAL']
['BARRISTER AT LAW']
['LABOERE', 'LABORER']
['LAUNDRYAMAN', 'LAUNDRYMAN', 'SEAMAN & LAUNDRYMAN', 'LAUNDRY', 'LAUNDRYK', 'LAUUNDRY']
['MISSIONARY']
['TRANSIENT', 'TRANSIT', 'IN TRANSIT', 'PRESIDENT']
['AVIATION INSTRUCTOR']
['DELEGATE']
['HOTEL OPERATOR']
['MINISTER', 'PAINTER']
['ENGINEER', 'CIVIL ENGINEER', 'MINING ENGINEER', 'FLIGHT ENGINEER']
['SHIP']
['PICKLE MERCHANT', 'WIFE OF MERCHANT', 'MERCHANT']
['FARMING']
['SON/NATIVE', 'SON OF NATIVE', 'NATIVE', 'SON/CITIZEN']
['GROCERY', 'GROCER']
['CHINESE OFFICIAL', 'NURSE OF CHINESE OFFICIAL', 'CHINESE MEDICAL DOCTOR', 'CHINESE GROCER', 'CHINESE DOCTOR', 'OFFICIAL']
['FARM LABORER', 'LABORER', 'FARMER']
['SON/CITIZEN', 'SON OF CITIZEN', 'SON OF A CITIZEN', "CITIZEN'S RETURN", 'SON/NATIVE']
['HARDWARE']
['LECTURER']
['DOCTOR', 'ACTOR', 'COLLECTOR', 'SOLICITOR', 'EDITOR']
['POULTRY MARKET']
['SERVANT', 'MERCHANT']
['NATIVE', 'SON/NATIVE']
['LAUNDRYK', 'LAUNDRY', 'LAUUNDRY', 'LAUNDRYMAN', 'LAUNDRYAMAN']
['TEACHER (ASST. EDITOR)']
['RESTAURANT OWNER', 'RESTAURANT MANAGER', 'RESTAURANT', 'RESTAURANT PROPRIETOR', 'RESTAURANT ASSIST MANAGER']
['SON OF CITIZEN', 'SON OF A CITIZEN', 'SON/CITIZEN', 'SON OF NATIVE', "CITIZEN'S RETURN"]
['LABORER - LAUNDRY']
['MINING ENGINEER', 'FLIGHT ENGINEER', 'ENGINEER']
['SURGEON', 'DENTAL SURGEON']
['SON OF MERCHANT', 'SON OF A MERCHANT', 'MINOR SON OF A MERCHANT', 'WIFE OF MERCHANT', 'ADOPTED SON OF A MERCHANT', 'SECTION 6 MERCHANT', 'MERCHANT']
['PAINTER', 'WAITER', 'MINISTER']
['RETURNING CITIZEN', "CITIZEN'S RETURN", 'RETURNING NATIVE']
['TREASURY DEPT']
['SON OF NATIVE', 'SON/NATIVE', 'SON OF A CITIZEN', 'SON OF CITIZEN']
['THEATER MANAGER', 'NEWSPAPER MANAGER', 'RESTAURANT MANAGER']
['WING YEE YUEN']
['TRANSLATOR', 'TRANSIT']
['WIFE OF MERCHANT', 'SON OF MERCHANT', 'SON OF A MERCHANT', 'PICKLE MERCHANT', 'MERCHANT']
['POST OFFICE']
['TECHNICIAN', 'ELECTRICAL TECHNICIAN']
['PAWNSHOP']
['CIGAR FACTORY', 'CIGAR MAKER']
['(CHIN HIM YEES)', '(CHIN HIM YEE)']
['(CHIN HIM YEE)', '(CHIN HIM YEES)']
['(CHARLEY OI OR LEE SEE OI', 'CHARLEY OI (LEE SEE OI)']
['CHARLEY OI (LEE SEE OI)', '(CHARLEY OI OR LEE SEE OI']
['(LEE LAKE)']
['QUONG SANG WO CO']
['HIP CHUNG WING']
['CONSULTING ENGINEER', 'CIVIL ENGINEER', 'ELECTRIC ENGINEER']
['TEMPORARY VISITOR']
['CHING CHONG CO']
['ARTIST']
['GAMBLER']
['EDITOR', 'DOCTOR']
['CHINESE INTERPRETER', 'INTERPRETER', 'INTERPRETER NAVAL ATTACHE']
['IMMIGRATION SERVICE']
['RETURNING NATIVE', 'RETURNING CITIZEN']
['ACTRESS', 'WAITRESS', 'ACTOR']
['TYPESETTER']
['MUSEUM COLLECTOR', 'COLLECTOR', 'SALESMAN & COLLECTOR']
['VALET']
['ADMITTED AS STUDENT', 'ADMITTED AS MERCHANT', 'MEDICAL STUDENT']
['ADMIT TRINIDAD MERCHANT', 'ADMITTED AS MERCHANT']
['ADMITTED AS MERCHANT', 'ADMITTED AS STUDENT', 'ADMIT TRINIDAD MERCHANT']
['SECTION 6 MERCHANT', 'SON OF A MERCHANT', 'SON OF MERCHANT']
['DISWASHER', 'DISHWASHER', 'DISHWASHER & WAITER']
['HOUSEWIFE']
['WAITRESS', 'ACTRESS', 'WAITER']
['STUDENT (AGE 10)', 'STUDENT']
['DAUGHTER OF MERCHANT', 'SON OF A MERCHANT', 'ADOPTED SON OF A MERCHANT']
['CARPENTER']
['AVIATRIX']
['GOVERNMENT OFFICIAL']
['ELECTRICAL TECHNICIAN', 'ELECTRIC ENGINEER', 'TECHNICIAN']
['TRANSIT', 'TRANSIENT', 'IN TRANSIT', 'TRANSLATOR']
['OFFICIAL STATUS', 'OFFICIAL']
['WELDER']
["U.S. GOV'T EMPLOYEE"]
['STORE CLERK']
['MILITARY OFFICER']
['BOILER MAKER', 'CIGAR MAKER']
['NURSE OF CHINESE OFFICIAL', 'CHINESE OFFICIAL']
['TUTOR']
['MERCHNAT', 'MERCHANT']
['METEROLOGIST']
['LAUUNDRY', 'LAUNDRY', 'LAUNDRYK', 'LAUNDRYMAN', 'LAUNDRYAMAN']
['BUTLER', 'BUYER']
['CLERK IN BANK']
['CHEMIST']
['DENTAL SURGEON', 'SURGEON']
['INTERPRETER NAVAL ATTACHE', 'CHINESE INTERPRETER']
['FLIGHT ENGINEER', 'MINING ENGINEER', 'ENGINEER']

In [19]:
def replace(lissy, column = "OCUPATION2"):
    data[column].replace(lissy[1:],lissy[0], inplace = True)
    print("done replacing")

In [20]:
replace(['LAUNDRYMAN', 'LAUNDRYAMAN', 'LAUNDRY', 'LAUNDRYK', 'LAUUNDRY','LABORER - LAUNDRY'])
replace(['RESTAURANT WORKER', 'RESTAURANT'])
replace(['LAUNDRYMAN', 'LAUNDRYAMAN', 'LAUNDRY', 'LAUNDRYK', 'LAUUNDRY'])
replace(['MERCHANT', 'MERCHNAT','MERCHANT (SANG CHANG CO.)','ADMITTED AS MERCHANT','ADMIT TRINIDAD MERCHANT','PICKLE MERCHANT','SECTION 6 MERCHANT'])
replace(['LABORER', 'LABOERE', 'FARM LABORER','FARMER'])
replace(['RESTAURANT MANAGER', 'RESTAURANT ASSIST MANAGER', 'RESTAURANT OWNER'])
replace(['SON OF A MERCHANT', 'SON OF MERCHANT', 'MINOR SON OF A MERCHANT', 'ADOPTED SON OF A MERCHANT'])
replace(['IN TRANSIT', 'TRANSIT'])
replace(['CASHIER', 'CAHSIER'])
replace(['DISHWASHER', 'DISWASHER'])
replace(["CITIZEN",'RETURNING CITIZEN',"CITIZEN'S RETURN",'NATIVE','RETURNING NATIVE'])
replace(['RESTAURANT WORKER','RESTUARANT WORKER'])
replace(['LAUNDRY PROPRIETOR', 'LAUNDRY PROPRIETER'])
replace(['ADOPTED DAUGHTER', 'ADOPTED DAUGHER'])
replace(['FIREMAN','#1 FIREMAN'])
replace(['BOOKKEEPER & SALESMAN', 'SALESMAN & BOOKKEEPER', 'MANAGER & BOOKKEEPER'])
replace(["DOCTOR",'CHINESE DOCTOR','CHINESE MEDICAL DOCTOR'])
replace(['LIVE POULTRY SALESMAN', 'POULTRY SALESMAN'])
replace(['SON OF NATIVE','SON/NATIVE','SON/CITIZEN', 'SON OF CITIZEN', 'SON OF A CITIZEN'])
replace(['GROCERY', 'GROCER'])
replace(['(CHIN HIM YEES)', '(CHIN HIM YEE)'])
replace(['(CHARLEY OI OR LEE SEE OI', 'CHARLEY OI (LEE SEE OI)'])
replace(["STUDENT","STUDENT (AGE 10)","MEDICAL STUDENT","ADMITTED AS STUDENT"])
replace(["COOK","HEAD COOK"])
replace(["TEACHER","TEACHER (ASST. EDITOR)"])

done replacing
done replacing
done replacing
done replacing
done replacing
done replacing
done replacing
done replacing
done replacing
done replacing
done replacing
done replacing
done replacing
done replacing
done replacing
done replacing
done replacing
done replacing
done replacing
done replacing
done replacing
done replacing
done replacing
done replacing
done replacing

In [21]:
lissy = data['OCUPATION3'].drop_duplicates().values.tolist()
for i in lissy[1:]:
    similar(data, "OCUPATION2", i, min_ratio = 65)

['LAUNDRYMAN', 'SEAMAN & LAUNDRYMAN']
['WAITER', 'PAINTER', 'HEAD WAITER', 'COOK & WAITER', 'WAITRESS']
['GROCERY']
['MERCHANT', 'SERVANT', 'WIFE OF MERCHANT']
['STUDENT', 'WAITER & STUDENT']
['BOOKKEEPER', 'CASHIER & BOOKKEEPER', 'BOOKKEEPER & SALESMAN', 'BOOKKEEPER & COLLECTER']
['CASHIER']
['BOOKKEEPER', 'ASSISTANT MANAGER']
['SALESMAN', 'SALESMAN & BUYER', 'SEAMAN']
['ASSISTANT MANAGER']
['RESTAURANT MANAGER', 'PRESIDENT & MANAGER', 'RESTAURANT PROPRIETOR']
['GENERAL HELPER', 'GENERAL MANAGER']
['BOOKKEEPER & COLLECTER', 'CASHIER & BOOKKEEPER']
['SALESMAN & BUYER', 'SALESMAN & COLLECTOR', 'SALESMAN', 'LIVE POULTRY SALESMAN']
['COOK']
['TEACHER']
['ASSISTANT MANAGER']
['DISHWASHER', 'DISHWASHER & WAITER']
[]
['ASSISTANT MANAGER']
['RESTAURANT WORKER', 'RESTAURATEUR']
['LAUNDRY PROPRIETOR']
['INTERPRETER', 'CHINESE INTERPRETER']
['LAUNDRY PROPRIETOR']
['MANAGER']
['BOOKKEEPER']
['RESTAURANT MANAGER', 'PRESIDENT & MANAGER']
['GENERAL HELPER']
[]
['RESTAURANT PROPRIETOR']
['LAUNDRY PROPRIETOR']
['CHINESE GROCER', 'CHINESE INTERPRETER']
[]
['CIGAR MAKER']
['PHYSICIAN']
['COLLECTOR', 'LECTURER']
[]
[]
['COLLECTOR', 'MUSEUM COLLECTOR', 'SALESMAN & COLLECTOR', 'DOCTOR', 'SOLICITOR']
['SALESMAN & COLLECTOR', 'COLLECTOR', 'MUSEUM COLLECTOR']
['STOWAWAY']
['COOK & WAITER', 'WAITER']
['LABORER']
['EDITOR', 'DOCTOR']
['RESTAURATEUR', 'RESTAURANT WORKER', 'RESTAURANT MANAGER', 'RESTAURANT PROPRIETOR']
[]
['LAUNDRYMAN']
['CIGAR FACTORY', 'CIGAR MAKER']
['SEAMAN', 'SALESMAN']
[]
[]
[]

In [22]:
replace(["LAUNDRYMAN","LAUNDRY","LAUNDRY COLLECTOR"],"OCUPATION3")
replace(['WAITER', 'PAINTER', 'HEAD WAITER', 'COOK & WAITER', 'WAITRESS'],"OCUPATION3")
replace(['INTERPRETER', 'CHINESE INTERPRETER'],"OCUPATION3")
replace(['COLLECTOR', 'MUSEUM COLLECTOR'],"OCUPATION3")
replace(['LAUNDRY PROPRIETOR','LAUNDRY PROPRIETER'],"OCUPATION3")

done replacing
done replacing
done replacing
done replacing
done replacing

In [23]:
legalStatus = pd.read_csv("LegalStatusUpdated.csv")
legalStatus.head()

,occupation1,Unnamed: 1,Unnamed: 2,occupation2,Unnamed: 4,Unnamed: 5,occupation3,Unnamed: 7,Unnamed: 8
0,NaN,NaN,NaN,LABORER,LABORER,OWN,LAUNDRYMAN,LABORER,OWN
1,SEAMAN,BONDED TRANSIT/ ENTRY,OWN,BOOKKEEPER,LABORER,OWN,WAITER,LABORER,OWN
2,LABORER,LABORER,OWN,RESTAURATEUR,MERCHANT,OWN,GROCER,MERCHANT,OWN
3,SON OF A MERCHANT,MERCHANT,AFFILIATED,LAUNDRYMAN,LABORER,OWN,MERCHANT,MERCHANT,OWN
4,LAUNDRYMAN,LABORER,OWN,MERCHANT,MERCHANT,OWN,STUDENT,STUDENT,OWN

In [24]:
lissy = legalStatus['occupation1'].drop_duplicates().values.tolist()

In [45]:
print(lissy)

[nan, 'SEAMAN', 'LABORER', 'SON OF A MERCHANT', 'LAUNDRYMAN', 'CASHIER', 'STUDENT', 'SON OF A NATIVE', 'MERCHANT', 'RESTAURANT OWNER', 'PROFESSOR OF ART', 'DAUGHTER OF A NATIVE', 'CLERK', 'WAITER', 'GROCERY', 'FARMER', 'WIFE OF A MERCHANT', 'SON OF A CITIZEN', 'YOUTH', 'DOMESTIC WORKER', 'TRAVELER', 'SALESMAN', 'DRUGGIST', 'CONFIDENTIAL AGENT', 'ACTOR', 'BOOKKEEPER', 'DIPLOMAT', 'COOK', 'SALSEMAN', 'RESTAURANT WORKER', 'WIFE OF A NATIVE', 'DAUGHTER OF A MERCHANT', 'DOMESTIC WORKER*', 'BUYER', 'ENGINEER', 'JOURNALIST', 'MINOR SON', 'MANAGER', 'ASSISTANT BUYER', 'HEAD BUYER', 'WIFE OF A SON OF A NATIVE', 'CIGAR MAKER', 'ASSISTANT MANAGER', 'WIFE OF A STUDENT', 'WIFE OF A CITIZEN', 'RETURNING CITIZEN', 'NATIVE', 'GOVERNMENT OFFICIAL', 'INSPECTOR/BURGLAR ALARMS', 'SECRETARY', 'CHINESE ACTOR', 'TAILOR', 'CHINESE DIPLOMAT', 'STOWAWAY', 'DAUGHTER OF A CITIZEN', 'HEAD WAITER', 'LAUNDRY PROPRIETOR', 'TOURIST', 'GOVERNMENT DELEGATE*', 'VICE PRESIDENT', 'PRESIDENT', 'MUSICIAN', 'EXPORTER & IMPORTER', "SHIP'S COOK & STEWARD", 'ACTRESS', 'TEACHER', 'MAGICIAN', 'MINOR', ' BOOKSTORE PACKER', ' SHIRT MAKER', ' BUTCHER SHOP OPERATOR', ' ASSISTANT', 'INTERPRETER', 'MEDICAL DOCTOR', 'BANK BROKER', 'CHINESE PAINTER', 'CHINESE PHYSICIAN', 'COMMERCIAL AGENT', 'STORE PROPRIETOR', 'DEALER', 'PEDDLER', 'BARBER', 'FURNITURE DEALER', 'CANNERY WORKER', 'WIFE OF A DIPLOMAT', 'WIFE OF A LABORER', 'STEWARD', 'RICE SALESMAN', 'RICE DEALER', 'FORTUNE TELLER', 'RAILROAD AGENT', 'MISSIONARY', 'MANUFACTURER OF BEAN CAKE', 'LUMBER YARD WORKER', 'WIFE OF AN INTERPRETER', 'CHINESE MINISTER', 'ATTACHE TO THE LEGATION', 'TEACHER & STUDENT', 'SERVANT', 'NEWSPAPER MANAGER', 'CHINESE GOV. OFFICIAL', 'CHINESE OFFICIAL', 'CLERGYMAN', 'CHILD OF A DIPLOMAT', 'MAID OF A DIPLOMAT', 'AID TO CHINESE CONSUL', 'OFFICIAL SERVANT', 'EVANGELIST', 'SECRETARY OF CONSUL', 'TRANSIENT', 'GOVERNMENT EMPLOYEE', 'CHINESE MASONIC ORGANIZER', 'WIFE OF A MISSIONARY', 'DAUGHTER OF A MISSIONARY', 'SON OF A DOMESTIC WORKER', 'ACTOR & ARTIST', 'WIFE OF AN ACTOR', 'PHYSICIAN', 'CHINESE INTERPRETER', 'WIFE', 'RESTAURANTEUR', 'CIGAR MANUFACTURER-COLFAX', 'MACHINIST', 'U.S. NAVY', 'ACROBATIC ACTOR', 'VAUDEVILLE ARTIST', 'PREACHER', 'ELECT. ENGINEER', 'SON OF LEW LUNG', 'EDITOR', 'SON OF WONG HONG HE', 'GRANDSON OF A CITIZEN', 'TRUCKING', 'CONSUL GENERAL', 'SON OF A DOCTOR', 'RESEARCH ASST.MINING ENGR', 'OFFICIAL', 'WIFE OF TEACHER', 'MERCHANT/TRAVELER', 'RESTUARANT OWNER', 'WIFE OF CLERGYMAN', 'TRANSIENT MERCHANT', 'TRAVELER/TRANSIT', 'RELATIVE OF MERCHANT', 'POST MASTER', 'DAUGHTER', 'SON OF TEACHER', 'STUDENT/TRANSIENT', 'MONOR SON OF MERCHANT', 'EXHIBITOR', 'DOCTOR', 'WIFE OF DOCTOR', 'SMUGGLER', 'INFANT', 'HOUSEWIFE', 'WIFE/SERVICEMAN', 'GOVERNMENT INTERPRETER', 'COFFEE SHOP', 'BAKERY', 'SEAMAN (DESERTER', 'NOODLE FACTORY', 'THEATER TROUPE', 'RELIGIOUS', 'YMCA SECRETARY', 'ACCOUNTANT', 'SALVATION ARMY', 'BOARD OF EDUCATION', 'CIVIL ENGINEER', 'NUN', 'ILLEGAL', 'ALLEGED UNLAWFUL RESIDENT', 'STUDENT & TRAVELER', 'THEATER MANAGER', 'TEACHER-MISSIONARY', 'PASTRY MAKER', 'NURSE', "SON OF GOV'T OFFICIAL", 'BANK CLERK', 'SERVANT OF DIPLOMAT', 'PRODUCE MARKER', 'ROOMING HUSE OPERATOR', 'TEMP. INTERPRETER FOR -', 'POSITION FOR INTERPRETER', 'DENTIST', 'MAIL CARRIER', 'CIGAR SALESMAN', "ACTOR'S GROUP", 'DANCER', 'MAID', 'VISITOR', 'COMMERCIAL ARTIST', 'THEATRE BUSINESS', 'INSURANCE', 'INSURANCE BROKER', 'SON OF CHINESE OFFICIAL', 'REFUGEE', 'SERVANT OF OFFICIAL', 'WIFE OF PROFESSOR', 'BROTHER OF NATIVE', 'REPORTER', 'HOMELESS', 'DRAFTSMAN', 'SOCIAL WORKER', 'DISHWASHER', 'CAMERAMAN', 'ARTIST', "WIFE OF GOV'T OFFICIAL", 'CARPENTER', 'DAUGHTER OF OFFICIAL', 'PROFESSOR', 'MINISTER', 'ACTING TROUPE', 'CITIZEN', "IMMIGRANT'S RETURN", 'TRANSIENT OFFICIAL', "OFFICIAL'S STAFF", 'NEWSPAPER MAN', 'TEMPORARY VISITOR', 'THEATRICAL GROUP', 'THEATRICAL PERFORMER', 'ECONOMICAL CONSUL', 'SEAMSTRESS', 'SCHOOL PRINCIPAL', "CHINESE GOV'T RR ENGINEER", 'DOMESTIC- NURSE MAID', 'FOUNDATION EXECUTIVE', 'WIFE OF OFFICIAL', 'ACOTR', 'ELECTRIC ENGINEER', 'WING AND WING TROUPE', 'ACROBAT', 'WIFE OF PHYSICIAN', 'SON OF VISITING ACROBAT', 'COURT INTERPRETER', 'PRINTER', 'U.S. GOVERNMENT', 'SON OF OFFICIAL', 'MECHANICAL ENGINEER', 'SON OF PREACHER', 'STENOGRAPHER', 'PAINT MFG', 'DAUGHTER OF FEMALE NATIVE', 'NO INDICATION']

In [25]:
for i in range(len(lissy[1:])):
    lissy[i+1] = lissy[i+1].strip()

In [26]:
legalStatus_1 = {}
for index, row in legalStatus.iterrows():
    temp = [row["Unnamed: 1"],row["Unnamed: 2"]]
    if str(row["occupation1"])!= "nan":
        legalStatus_1[row["occupation1"].strip()] = temp

for index, row in legalStatus.iterrows():
    temp = [row["Unnamed: 4"],row["Unnamed: 5"]]
    if str(row["occupation2"])!= "nan":
        legalStatus_1[row["occupation2"].strip()] = temp

for index, row in legalStatus.iterrows():
    temp = [row["Unnamed: 7"],row["Unnamed: 8"]]
    if str(row["occupation3"])!= "nan":
        legalStatus_1[row["occupation3"].strip()] = temp
print('done')

done

In [27]:
insertLegalStatus = []
insertStatusInfo = []
for index, row in data.iterrows():
    if str(row["OCUPATION1"])!= "nan":
        try:
            insertLegalStatus.append(legalStatus_1[row["OCUPATION1"]][0])
            insertStatusInfo.append(legalStatus_1[row["OCUPATION1"]][1])
        except:
            print(row["OCUPATION1"])
            insertLegalStatus.append(np.nan)
            insertStatusInfo.append(np.nan)
    else:
            insertLegalStatus.append(np.nan)
            insertStatusInfo.append(np.nan)
index = data.columns.get_loc("OCUPATION1")
ind_1 = index + 1
ind_2 = index + 2
data.insert(ind_1,'LEGALSTATUS1',insertLegalStatus)
data.insert(ind_2,'STATUSINFO1',insertStatusInfo)

RETURNING MERCHANT
MINOR SON OF A CITIZEN
MINOR SON OF A CITIZEN
MINOR SON OF A CITIZEN

In [28]:
insertLegalStatus = []
insertStatusInfo = []
for index, row in data.iterrows():
    if str(row["OCUPATION2"])!= "nan":
        try:
            insertLegalStatus.append(legalStatus_1[row["OCUPATION2"]][0])
            insertStatusInfo.append(legalStatus_1[row["OCUPATION2"]][1])
        except:
            print(row["OCUPATION2"])
            insertLegalStatus.append(np.nan)
            insertStatusInfo.append(np.nan)
    else:
            insertLegalStatus.append(np.nan)
            insertStatusInfo.append(np.nan)

index = data.columns.get_loc("OCUPATION2")
ind_1 = index + 1
ind_2 = index + 2
data.insert(ind_1,'LEGALSTATUS2',insertLegalStatus)
data.insert(ind_2,'STATUSINFO2',insertStatusInfo)

In [29]:
insertLegalStatus = []
insertStatusInfo = []
for index, row in data.iterrows():
    if str(row["OCUPATION3"])!= "nan":
        try:
            insertLegalStatus.append(legalStatus_1[row["OCUPATION3"]][0])
            insertStatusInfo.append(legalStatus_1[row["OCUPATION3"]][1])
        except:
            print(row["OCUPATION3"])
            insertLegalStatus.append(np.nan)
            insertStatusInfo.append(np.nan)
    else:
            insertLegalStatus.append(np.nan)
            insertStatusInfo.append(np.nan)

index = data.columns.get_loc("OCUPATION3")
ind_1 = index + 1
ind_2 = index + 2
data.insert(ind_1,'LEGALSTATUS3',insertLegalStatus)
data.insert(ind_2,'STATUSINFO3',insertStatusInfo)

CHEF
VEGETAB STORE PROPRIETOR

In [30]:
data.head()

,DONE Y/N,NO FORM 431,DATE,Screened,BOX,CASENO1,CASENO2,NAME1,NAME2,NAME3,ALIAS1,ALIAS2,ALIAS3,CHINESE1,CHINESE2,CHINESE3,CHINESE4,SEX,PORT,BIRTHPLACE,HOMETOWN,ORIGINALOCU1,OCUPATION1,LEGALSTATUS1,STATUSINFO1,STREET1,CITY1,STATE1,SPONSOR,WIFE,KIDS,PICTURE,INTEROG,CASEDESCR,PORT2,SPONSADDR,COMMENTS,AGE,DOCDATE,THIRD1,THIRD2,THIRD3,BIRTHDATE,ENTRYDATE,ENTRYDATE2,ORIGINALOCU2,OCUPATION2,LEGALSTATUS2,STATUSINFO2,ORIGINALOCU3,OCUPATION3,LEGALSTATUS3,STATUSINFO3,STREET2,CITY2,STATE2,STREET3,CITY3,STATE3,MEMO2
0,NaN,NaN,NaN,False,1,5.0,3.0,CHIN,GOK,PO,CHIN,KUNG,PACK,NaN,NaN,NaN,NaN,M,NaN,CHINA,NaN,NaN,NaN,NaN,NaN,"323 PA AVE,NW",WASHINGTON,DC,NaN,False,0.0,False,False,D,NaN,NaN,NaN,0.0,19211922,NaN,NaN,NaN,NaN,1892,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,X,2020.03.18,False,1,5.0,4.0,HOM,CHEE,NaN,DONG,AH,CHEE,NaN,NaN,NaN,NaN,M,"NEW YORK, NY",CHINA,NaN,SEAMAN,SEAMAN,BONDED TRANSIT/ ENTRY,OWN,NaN,NaN,NaN,NaN,False,0.0,False,False,D,NaN,NaN,NaN,28.0,19201922,HOM,SEE,CHUCK,NaN,1920,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,False,1,5.0,9.0,WILLIAM,K,WONG,WONG,KING,SING,NaN,NaN,NaN,NaN,M,NIAGARA FALLS,CHINA,NaN,LABORER,LABORER,LABORER,OWN,NaN,NIAGARA FALLS,NY,NaN,False,0.0,False,False,D,NaN,NaN,NaN,0.0,19211921,NaN,NaN,NaN,NaN,1921,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,False,1,5.0,10.0,LEE,DEN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,M,NaN,CHINA,NaN,LABORER,LABORER,LABORER,OWN,NaN,WATERTOWN,NY,NaN,False,0.0,False,False,D,NaN,NaN,NaN,0.0,19211921,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,False,1,5.0,19.0,YEE,HING,NaN,YU,YUK,YIN,NaN,NaN,NaN,NaN,M,NaN,SAN FRANCISCO,NaN,NaN,NaN,NaN,NaN,NaN,DETROIT,MI,NaN,False,0.0,False,False,D,NaN,NaN,NaN,0.0,19211922,YEE,YUCK,YOU,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SAN FRANCISCO,CA,NaN,NaN,NaN,NaN

In [31]:
data.to_csv("./output.csv")