In [1]:
# import packages
import pandas as pd
import numpy as np

# read the data
data = pd.read_csv("CHINESE DB.csv")

In [2]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
pd.set_option('max_colwidth',100)

In [3]:
lissy = data.loc[:,"PORT"]
index = data.columns.get_loc("PORT")
ind_1 = index 
data.insert(ind_1,'ORIGINPORT',lissy)

In [4]:
lissy = data.loc[:,"PORT2"]
index = data.columns.get_loc("PORT2")
ind_1 = index 
data.insert(ind_1,'ORIGINPORT2',lissy)

In [9]:
data.loc[:,"PORT"] = data.loc[:,"PORT"].replace(["NEW YORK,NY","NEW YORK","NEW YOKR","NEW YOKR,NY","NEW YORK CITY","NY, NY","NEW YORK NY","NEW YOKR","NY,NY","NEW  YORK, NY"],"NEW YORK, NY")
data.loc[:,"PORT"] = data.loc[:,"PORT"].replace(["SEATTLE","SEATTLE WA","SEATTLE,WA","SEATTLE]","SEATTKE"], "SEATTLE, WA")
data.loc[:,"PORT"] = data.loc[:,"PORT"].replace(["BOSTON","BOSTON,MA","EAST BOSTON,MA","BOSTON, WA","BOSTON MA","E. BOSTON, MA","E. BOSTON","EAST BOSTON MA","EAST BOSTON, MA","EAST BOSTON"],"BOSTON, MA")
data.loc[:,"PORT"] = data.loc[:,"PORT"].replace(["SAN FRANSICO","SAN FRANCISCO,","SAN FRANCISCO19","SAN FRSNCISCO","SAN FRANICSCO","SAB FRANCISCO","SAN FRANCSICO","SAN FRANISCO","SAN FRANCISO","SAN FRANCISC0","SAN FRANCISCO"], "SAN FRANCISCO, CA")
data.loc[:,"PORT"] = data.loc[:,"PORT"].replace("RICHFORD,VT", "RICHFORD, VT")
data.loc[:,"PORT"] = data.loc[:,"PORT"].replace("BURLINGTON,VT", "BURLINGTON, VT")

In [10]:
data.loc[:,"PORT"] = data.loc[:,"PORT"].replace("OGDENBURG,NY", "OGDENBURGH, NY")
data.loc[:,"PORT"] = data.loc[:,"PORT"].replace(["PLATTSBURGH,NY","PLAETS BURGH,NY","PLATTSBURG","PLATTABURGH, NY"], "PLATTSBURGH, NY")
data.loc[:,"PORT"] = data.loc[:,"PORT"].replace("PLATTSBURG, NY", "PLATTSBURGH, NY")
data.loc[:,"PORT"] = data.loc[:,"PORT"].replace(["VANCOUVER BC","VANCOUVER", "VANCOUVER,BC", "VANCOUVER,B.C.","VANCOUVER B.C.","VANCOUVER","VANCOURVER,BC","VANCOURVER","VANCOUVER B.C.","VANCOUVER, BC"],"VANCOUVER, B.C.")
data.loc[:,"PORT"] = data.loc[:,"PORT"].replace(["MALONE,NY","MALONE","MALONE NY"], "MALONE, NY")
data.loc[:,"PORT"] = data.loc[:,"PORT"].replace(["PORT HENRY,NY","PORT HENRY","PORT HENRY NY"], "PORT HENRY, NY")
data.loc[:,"PORT"] = data.loc[:,"PORT"].replace(["OGDENSBURG,NY","OGDENSBURGH NY","OGDENSBURGH, NY","OGDENSBURG NY"], "OGDENSBURG, NY")
data.loc[:,"PORT"] = data.loc[:,"PORT"].replace("CANTON,NY","CANTON, NY")
data.loc[:,"PORT"] = data.loc[:,"PORT"].replace(["NEWPORT,VT","NEWPORT,NY"], "NEWPORT, VT")
data.loc[:,"PORT"] = data.loc[:,"PORT"].replace(["BURLINGTON","BURLINGTON VT"], "BURLINGTON, VT")
data.loc[:,"PORT"] = data.loc[:,"PORT"].replace(["RICHFORD VT","RICHFORD","RICHFIELD, VT","RICHORD, VT"], "RICHFORD, VT")  #??richford ny
data.loc[:,"PORT"] = data.loc[:,"PORT"].replace(["PORTLAND,OR","PORTLAND","PORTLAND OR","RICHORD, VT"], "PORTLAND, OR") 
data.loc[:,"PORT"] = data.loc[:,"PORT"].replace(["BUFFALO,NY","BUFFALO","BURRALO, NY"], "BUFFALO, NY") 
data.loc[:,"PORT"] = data.loc[:,"PORT"].replace(["ST ALBANS,VT","ST. ALBANS","ST. ALBANS, VT","ST ALBAN, VT"],"ST ALBANS, VT") #NY/VT
data.loc[:,"PORT"] = data.loc[:,"PORT"].replace(["DETRIOIT, MI","DETROIT"],"DETROIT, MI")
data.loc[:,"PORT"] = data.loc[:,"PORT"].replace(["PT TOWNSEND, WA","PT TOWNSEND,WA","PT TOWNSEND WA","PT.TOWNSEND,WA","PT. TOWNSEND WA","PT.TOWNSEND, NY","PORT TOWNSEND"],"PT. TOWNSEND,WA")
data.loc[:,"PORT"] = data.loc[:,"PORT"].replace("NEWARK,NJ","NEWARK, NJ")
data.loc[:,"PORT"] = data.loc[:,"PORT"].replace("VERMONT","VT")
data.loc[:,"PORT"] = data.loc[:,"PORT"].replace(["HONOLULU","HONOLULU, HA"],"HONOLULU, HI")
data.loc[:,"PORT"] = data.loc[:,"PORT"].replace(["BROOKLYN,NY","BROOKLYN"],"BROOKLYN, NY")
data.loc[:,"PORT"] = data.loc[:,"PORT"].replace(["NEW ORLEANS,LA","NEW ORLEANS"],"NEW ORLEANS, LA")
data.loc[:,"PORT"] = data.loc[:,"PORT"].replace("PORTAL,ND","PORTAL, ND")
data.loc[:,"PORT"] = data.loc[:,"PORT"].replace(["ODGENSBURG,NY","OGENSBURGS, NY","ODGENSBURG, NY"],"OGDENSBURG, NY")
data.loc[:,"PORT"] = data.loc[:,"PORT"].replace("NEW HEAVEN, CT","NEW HAVEN, CT")
data.loc[:,"PORT"] = data.loc[:,"PORT"].replace("SCHENECTADY,NY","SCHENECTADY, NY")
data.loc[:,"PORT"] = data.loc[:,"PORT"].replace(["OGDENBURG, NY","OGDENSUBRG, NY","OGENSBURG, NY"],"OGDENSBURG, NY")
data.loc[:,"PORT"] = data.loc[:,"PORT"].replace(["PHILADELPHIA,PA","PHILADELPHIA"],"PHILADELPHIA, PA")
data.loc[:,"PORT"] = data.loc[:,"PORT"].replace(["BALTIMORE,MD","BALTIMORE"],"BALTIMORE, MD")
data.loc[:,"PORT"] = data.loc[:,"PORT"].replace(["NIAGARA FALLS","NIAGARA FALLSNY","NIAGARAFALLS,NY"],"NIAGARAFALLS, NY")
data.loc[:,"PORT"] = data.loc[:,"PORT"].replace(["SUMAS,WA","PT SUMAS, WA","SUMAS WA","SUMA, WA"],"SUMAS, WA")
data.loc[:,"PORT"] = data.loc[:,"PORT"].replace(["NY VIA TRINIDAD","NY VIA CUBA","NY VIA HAVANA","NY(FROM LONDON)","VIA TRINIDAD","NY VIA B.W.I."],"NY")

In [11]:
data.loc[:,"PORT"] = data.loc[:,"PORT"].replace("OREGON","OR")
data.loc[:,"PORT"] = data.loc[:,"PORT"].replace("PENNSYLVANIA","PA")
data.loc[:,"PORT"] = data.loc[:,"PORT"].replace("LOUISIANA","LA")
data.loc[:,"PORT"] = data.loc[:,"PORT"].replace("FORT TOWNSEND","FORT TOWNSEND, WA")
data.loc[:,"PORT"] = data.loc[:,"PORT"].replace(["CALIFORNIA","N. CALIFORNIA"],"CA")
data.loc[:,"PORT"] = data.loc[:,"PORT"].replace("N. DOKOTA","ND")
data.loc[:,"PORT"] = data.loc[:,"PORT"].replace("LOS ANGELES","LA")
data.loc[:,"PORT"] = data.loc[:,"PORT"].replace("NEW JERSEY","NJ")
data.loc[:,"PORT"] = data.loc[:,"PORT"].replace("HAWAII","HI")
data.loc[:,"PORT"] = data.loc[:,"PORT"].replace("ANGEL ISL. CA","ANGEL ISL., CA")
data.loc[:,"PORT"] = data.loc[:,"PORT"].replace("CONNECTICUT","CT")

In [13]:
lissy = data.loc[:,"PORT"]
city = []
state = []
for i in lissy:
    if pd.notnull(i):
        temp = i.split(",")
        if len(temp) != 1 and len(temp) != 2:
            print(temp)
        if len(temp) == 1:
            city.append(0)
            state.append(temp[0].strip())
        else:
            city.append(temp[0].strip())
            state.append(temp[1].strip())
    else:
        city.append(i)
        state.append(i)

In [14]:
port_index = data.columns.get_loc("PORT")

In [15]:
ind = port_index + 1
data.insert(ind,'CITY',city)

In [16]:
data.head()

,DONE Y/N,NO FORM 431,DATE,Screened,BOX,CASENO1,CASENO2,NAME1,NAME2,NAME3,ALIAS1,ALIAS2,ALIAS3,CHINESE1,CHINESE2,CHINESE3,CHINESE4,SEX,ORIGINPORT,PORT,CITY,BIRTHPLACE,HOMETOWN,OCUPATION1,STREET1,CITY1,STATE1,SPONSOR,WIFE,KIDS,PICTURE,INTEROG,CASEDESCR,ORIGINPORT2,PORT2,SPONSADDR,COMMENTS,AGE,DOCDATE,THIRD1,THIRD2,THIRD3,BIRTHDATE,ENTRYDATE,ENTRYDATE2,OCUPATION2,OCUPATION3,STREET2,CITY2,STATE2,STREET3,CITY3,STATE3,MEMO2
0,NaN,NaN,NaN,False,1,5.0,3.0,CHIN,GOK,PO,CHIN,KUNG,PACK,NaN,NaN,NaN,NaN,M,NaN,NaN,NaN,CHINA,NaN,NaN,"323 PA AVE,NW",WASHINGTON,DC,NaN,False,0.0,False,False,D,NaN,NaN,NaN,NaN,0.0,19211922,NaN,NaN,NaN,NaN,1892,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,X,2020.03.18,False,1,5.0,4.0,HOM,CHEE,NaN,DONG,AH,CHEE,NaN,NaN,NaN,NaN,M,"NEW YORK, NY","NEW YORK, NY",NEW YORK,CHINA,NaN,SEAMAN,NaN,NaN,NaN,NaN,False,0.0,False,False,D,NaN,NaN,NaN,NaN,28.0,19201922,HOM,SEE,CHUCK,NaN,1920,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,False,1,5.0,9.0,WILLIAM,K,WONG,WONG,KING,SING,NaN,NaN,NaN,NaN,M,NIAGARA FALLS,"NIAGARAFALLS, NY",NIAGARAFALLS,CHINA,NaN,LABORER,NaN,NIAGARA FALLS,NY,NaN,False,0.0,False,False,D,NaN,NaN,NaN,NaN,0.0,19211921,NaN,NaN,NaN,NaN,1921,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,False,1,5.0,10.0,LEE,DEN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,M,NaN,NaN,NaN,CHINA,NaN,LABORER,NaN,WATERTOWN,NY,NaN,False,0.0,False,False,D,NaN,NaN,NaN,NaN,0.0,19211921,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,False,1,5.0,19.0,YEE,HING,NaN,YU,YUK,YIN,NaN,NaN,NaN,NaN,M,NaN,NaN,NaN,SAN FRANCISCO,NaN,NaN,NaN,DETROIT,MI,NaN,False,0.0,False,False,D,NaN,NaN,NaN,NaN,0.0,19211922,YEE,YUCK,YOU,NaN,NaN,NaN,NaN,NaN,NaN,SAN FRANCISCO,CA,NaN,NaN,NaN,NaN

In [17]:
ind_2 = port_index + 2
data.insert(ind_2,'STATE',state)

!!!!!!!!!!!!!STREET1/CITY1/STATE1

In [18]:
from fuzzywuzzy import process as process
from fuzzywuzzy import fuzz as fuzz
def replace_matches_in_column(df, column, string_to_match, min_ratio = 90):
    # get a list of unique strings
    strings = df[column].unique()
    
    # get the top 10 closest matches to our input string
    matches = process.extract(string_to_match, strings, limit=10, scorer= fuzz.token_sort_ratio)

    # only get matches with a ratio > 90
    close_matches = [matches[0] for matches in matches if matches[1] >= min_ratio]

    # get the rows of all the close matches in our dataframe
    rows_with_matches = df[column].isin(close_matches)

    # replace all rows with close matches with the input matches 
    df.loc[rows_with_matches, column] = string_to_match
    print(close_matches)
    # let us know the function's done
    print("All done!")

In [19]:
data["CITY1"] = data["CITY1"].str.strip(",")
State = ["NY","CA","CT","NJ","MA","PA","IL","MI"]
for index in data.index:
    if pd.notnull(data.loc[index,"CITY1"]):

        temp = data.loc[index,"CITY1"].split(",")
        if len(temp) == 2:
            for i in range(len(temp)):
                temp[i] = temp[i].strip()
            if temp[1] in State:
                data.loc[index,"STATE1"] = temp[1]
                data.loc[index,"CITY1"] = temp[0]
            elif temp[1] in ["L.I.","LI"]:
                data.loc[index,"CITY1"] = "LONG ISLAND" #?????
            elif temp[1] in ["SI","S.I.","STAT. IS"]:
                data.loc[index,"CITY1"] = "Staten Island"
            elif temp[1] == "CONN.":
                data.loc[index,"CITY1"] = temp[0]
                data.loc[index,"STATE1"] = "CT"
            elif temp[1] == "MICH":
                data.loc[index,"CITY1"] = temp[0]
                data.loc[index,"STATE1"] = "MI"
            elif temp[1] == "MONTANA":
                data.loc[index,"CITY1"] = temp[0]
                data.loc[index,"STATE1"] = "MT"
            elif temp[1] == "HAWAII":
                data.loc[index,"CITY1"] = temp[0]
                data.loc[index,"STATE1"] = "HI"
            elif temp[1] == "CANADA":
                data.loc[index,"CITY1"] = temp[0]
                data.loc[index,"STATE1"] = "CANADA"
            elif temp[1] == "CUMBERLAND":
                data.loc[index,"CITY1"] = temp[1]
            elif temp[1] == "NEWARK":
                data.loc[index,"CITY1"] = temp[1]
                data.loc[index,"STREET1"] += " "
                data.loc[index,"STREET1"] += temp[0]
            elif temp[1] == "SAFRICA":
                data.loc[index,"CITY1"] = "JOHANNESBURG"
                data.loc[index,"STATE1"] = "SAFRICA"

In [20]:
data.loc[:,"STREET1"].replace("C/O F.F.McCLINTOCK", "C/O F.F.McCLINTOCK 11 CLIFF ST.",inplace = True)
data.loc[:,"STREET1"] = data.loc[:,"STREET1"].replace("C/O TONYING CHINESE CO.", "C/O TONYING CHINESE CO. 615 5TH AVE.")
data.loc[:,"STREET1"] = data.loc[:,"STREET1"].replace("C/O JAS V. STOREY", "C/O JAS V. STOREY 17 STATE ST.")
data.loc[:,"STREET1"] = data.loc[:,"STREET1"].replace("13 MOTT ST. NY, NY", "13 MOTT ST.(WING ON WO & CO.)")

In [21]:
data.loc[:,"CITY1"].replace(["NEW YORK CITY","NYC","COLUMBIA UNIVERSITY","11 CLIFF ST NEW YORK","615 5TH AVE.NEW YORK","17 STATE ST. NY, NY","NY","WEST NEW YORK'","(WING ON WO & CO.)","17 STATE ST. NY",'ROCKAWAY BEACH', 'FAR ROCKAWAY', 'ROCKAWAY'],"NEW YORK",inplace=True)
data.loc[:,"'CITY1"] = data.loc[:,"CITY1"].replace('PITTSBURG','PITTSBURGH')
data.loc[:,"CITY1"] = data.loc[:,"CITY1"].replace(["CHESTER",'PORTCHESTER'], "ROCHESTER")
replace_matches_in_column(data, "CITY1", "NEW YORK", min_ratio = 75)
replace_matches_in_column(data, "CITY1", "SAN FRANCISCO", min_ratio = 68)

['NEW YORK', 'New York', "NEW YORK'", 'NEW YOEK', 'NEW YROK', 'NWE YORK', 'NEW YURK', 'NEW YOKR', 'NEW Y0RK', 'WEST NEW YORK']
All done!
['SAN FRANCISCO', 'SAN FRNACISCO']
All done!

In [22]:
data.loc[:,"CITY1"] = data.loc[:,"CITY1"].replace(["CHESTER",'PORTCHESTER'], "ROCHESTER")

In [23]:
replace_matches_in_column(data, "CITY1", 'BROOKLYN', min_ratio = 68)
replace_matches_in_column(data, "CITY1", "PHILADELPHIA", min_ratio = 60)
replace_matches_in_column(data, "CITY1", "BALTIMORE", min_ratio = 80)

['BROOKLYN', 'BOOKLYN', 'BROOKYLN']
All done!
['PHILADELPHIA', 'PILADELPHIA', 'PHILADELPHA', 'PHILDELPHIA']
All done!
['BALTIMORE', 'BALTIMORER', 'BALIMORE', 'BLATIMORE', 'BALITMORE']
All done!

In [24]:
lissy_1 = ["NEWARK","BRONX","BOSTON","BUFFALO","WASHINGTON D.C.","PORTLAND","JERSEY CITY","SEATTLE","ALBANY","OAKLAND","CHICAGO","TROY","PATERSON","BRIDGEPORT","SACRAMENTO"]
for i in lissy_1:
    replace_matches_in_column(data, "CITY1", i, min_ratio = 80)

['NEWARK']
All done!
['BRONX', 'BRONZ']
All done!
['BOSTON']
All done!
['BUFFALO']
All done!
['WASHINGTON D.C.', 'WAHINGTON D.C.', 'WASHINGTON DC', 'N.W. WASHINGTON D.C.', 'WASHINGTON', 'FT WASHINGTON']
All done!
['PORTLAND']
All done!
['JERSEY CITY']
All done!
['SEATTLE']
All done!
['ALBANY']
All done!
['OAKLAND']
All done!
['CHICAGO', 'CHICO']
All done!
['TROY']
All done!
['PATERSON', 'PATTERSON', 'PETERSON']
All done!
['BRIDGEPORT', 'BRIDGE PORT', 'BRIDEPPORT']
All done!
['SACRAMENTO', 'SACREMENTO']
All done!

In [25]:
lissy_2 = ["HARTFORD","YONKERS","NEW HAVEN","LOS ANGELES","SCHENECTADY","STATEN ISLAND","ASTORIA","SPRINGFIELD","LONG ISLAND","STOCKTON","CLEVELAND","SAN JOSE"]
for i in lissy_2:
    replace_matches_in_column(data, "CITY1", i, min_ratio = 80)

['HARTFORD', 'HANFORD']
All done!
['YONKERS', 'YONKER', 'N. YONKERS']
All done!
['NEW HAVEN', 'NEW HEAVEN']
All done!
['LOS ANGELES']
All done!
['SCHENECTADY', 'SCHNECTADY', 'SCHENEVTADY', 'SCHECTADY']
All done!
['Staten Island', 'STATEN ISLAND']
All done!
['ASTORIA']
All done!
['SPRINGFIELD', 'WEST SPRINGFIELD']
All done!
['LONG ISLAND', 'LONG ISLAND CITY']
All done!
['STOCKTON']
All done!
['CLEVELAND']
All done!
['SAN JOSE']
All done!

In [26]:
lissy_3 = ['CLEVELAND','STOCKTON','BUTTE CITY','JAMAICA','HOBOKEN','SAN DIEGO','ATLANTIC CITY','NORFOLK','PROVIDENCE','FRESNO','SYRACUSE','NEW BRUNSWICK','ITHACA','SCRANTON','TRENTON','OROVILLE','WHITE PLAINS','CAMDEN','ELIZABETH','ORANGE']
for i in lissy_3:
    replace_matches_in_column(data, "CITY1", i, min_ratio = 80)

['CLEVELAND']
All done!
['STOCKTON']
All done!
['BUTTE CITY']
All done!
['JAMAICA']
All done!
['HOBOKEN', 'W HOBOKEN', 'W. HOBOKEN']
All done!
['SAN DIEGO']
All done!
['ATLANTIC CITY']
All done!
['NORFOLK', 'NORFOLD', 'NORFORK']
All done!
['PROVIDENCE', 'NEW PROVIDENCE']
All done!
['FRESNO']
All done!
['SYRACUSE']
All done!
['NEW BRUNSWICK']
All done!
['ITHACA', 'ITHACH', 'ITHAEA']
All done!
['SCRANTON']
All done!
['TRENTON', 'FRENTON']
All done!
['OROVILLE', 'ORROVILLE', 'ROSEVILLE']
All done!
['WHITE PLAINS']
All done!
['CAMDEN']
All done!
['ELIZABETH', 'ELIZABETHPORT']
All done!
['ORANGE', 'E ORANGE', 'E. ORANGE', 'W. ORANGE', 'S. ORANGE']
All done!

In [27]:
data.loc[:,"CITY1"] = data.loc[:,"CITY1"].replace(["EASTÂ ORANGE","E. ORANGE, NJ","EAST ORANGE","SOUTH ORANGE"],"ORANGE")
lissy_4 = ["WATERBURY","WATERTOWN","BAYONNE","MONTCLAIR","DANBURY","FLUSHING","DOVER","DETROIT","CONEY ISLAND","PITTSFIELD","WOODSIDE","UTICA","MARYSVILLE","HEMPSTEAD","ASBURY PARK","JACKSON HEIGHTS","NEWPORT NEWS","HACKENSACK","RICHMOND"]
for i in lissy_4:
    replace_matches_in_column(data, "CITY1", i, min_ratio = 80)

['WATERBURY']
All done!
['WATERTOWN']
All done!
['BAYONNE']
All done!
['MONTCLAIR']
All done!
['DANBURY']
All done!
['FLUSHING']
All done!
['DOVER', 'ANDOVER']
All done!
['DETROIT']
All done!
['CONEY ISLAND']
All done!
['PITTSFIELD']
All done!
['WOODSIDE']
All done!
['UTICA']
All done!
['MARYSVILLE']
All done!
['HEMPSTEAD', 'HEMPSTED']
All done!
['ASBURY PARK']
All done!
['JACKSON HEIGHTS']
All done!
['NEWPORT NEWS']
All done!
['HACKENSACK', 'HACKENSACH']
All done!
['RICHMOND']
All done!

In [28]:
lissy_3 = ["CLEVELAND","STOCKTON","BUTTE CITY","JAMAICA","HOBOKEN","SAN DIEGO","ATLANTIC CITY","NORFOLK","PROVIDENCE","FRESNO"]
for i in lissy_3:
    replace_matches_in_column(data, "CITY1", i, min_ratio = 78)

['CLEVELAND']
All done!
['STOCKTON']
All done!
['BUTTE CITY']
All done!
['JAMAICA']
All done!
['HOBOKEN']
All done!
['SAN DIEGO']
All done!
['ATLANTIC CITY']
All done!
['NORFOLK']
All done!
['PROVIDENCE']
All done!
['FRESNO']
All done!

In [29]:
lissy_4 = ["NEW BRUNSWICK","ELIZABETH","TRENTON","SCRANTON","WHITE PLAINS","CAMDEN","DETROIT","MT VERNON","NEW ROCHELLE","DENVER","DOVER","WATERTOWN","WATERBURY","MONTCLAIR","DANBURY","FLUSHING","UTICA","MARYSVILLE","HEMPSTEAD","PITTSFIELD","CONEY ISLAND","HACKENSACK"]
for i in lissy_4:
    replace_matches_in_column(data, "CITY1", i, min_ratio = 80)

['NEW BRUNSWICK']
All done!
['ELIZABETH']
All done!
['TRENTON']
All done!
['SCRANTON']
All done!
['WHITE PLAINS']
All done!
['CAMDEN']
All done!
['DETROIT']
All done!
['MT VERNON', 'MOUNT VERNON']
All done!
['NEW ROCHELLE']
All done!
['DENVER', 'DANVER']
All done!
['DOVER']
All done!
['WATERTOWN']
All done!
['WATERBURY']
All done!
['MONTCLAIR']
All done!
['DANBURY']
All done!
['FLUSHING']
All done!
['UTICA']
All done!
['MARYSVILLE']
All done!
['HEMPSTEAD']
All done!
['PITTSFIELD']
All done!
['CONEY ISLAND']
All done!
['HACKENSACK']
All done!

In [30]:
temp = ['NI']
for i in temp:  
    index = data[data["STATE1"] == i].index.tolist()[0]
    value = data.loc[index,"CITY1"]
    print(value)

DETROIT

In [31]:
def similar(df, column, string_to_match, min_ratio = 90):
    # get a list of unique strings
    strings = df[column].unique()
    
    # get the top 10 closest matches to our input string
    matches = process.extract(string_to_match, strings, limit=10, scorer= fuzz.token_sort_ratio)

    # only get matches with a ratio > 90
    close_matches = [matches[0] for matches in matches if matches[1] >= min_ratio]

    print(close_matches)

In [32]:
string = """"""
string = string.split()
for i in range(len(string)):
    if len(string[i])>1:
        print("\"", end = "")
        print(string[i], end = "")
        print("\"", end = "")
        print(",",end = "")

In [33]:
lissy_5 = ["CHARLESTOWN","ALEXANDRIA","GETTYSBURG","AUGUSTA","ST PAUL","SUMMIT","MORRISTOWN","TACOMA","MILLVILLE","ANN ARBOR","MANCHESTER","LEWISTON","DEER LODGE","CORONA","EUREKA","HILLSBURG","COURTLEE","LINDEN","LITTLE FALLS","SPOKANE FALLS","JACKSON","MIDDLETOWN","WHITTIKER","MILBURN","MINNEAPOLIS","MISSIOULA","RAHWAY","PORT ORLANDO","ELMIRA","DALLAS","LYNN","OGDEN","NAUGATUCK","AMERICAN CANYON","OSSINING","COLLINGSWOOD","WEAVERVILLE","GALVESTON","HIGHLAND PARK","YREKA","BELLAIRE","DELVILLE","PRINCETON","RAPID CITY","COLUSA","DELSEY","MODESTO","GREENWICH","GLENS FALLS","THE DAWLES","ELMHURST","BANGOR","PASADENA","MADISON","CALESOTA","SPOKAINE FALLS","IOWA CITY","BLOOMFIELD","UNION CITY","SALT LAKE CITY","VALLEGO","MUSCATINE","BRADFORD","HELENA","HARRISBURG","PALMYRA","OAKVILLE","NORRISTOWN","SHELTON","GLOBE CITY","GLEN FALLS","GRANTSWOOD","ANACONDA","HASBROUCK HEIGHTS","IRVINGTON","LYNBROOK","SALEM","EASTON","GREENVILLE","MT. KISCO","WILLIAMSTOWN","SAUSELITO","POMPTON LAKES","MILES CITY","SACALINDA","WINTERVILLE","ST HELENA","NEW LONDON","WALLA WALLA","UNION HILL","BAKER CITY","QUANTICO","MASPETH","MEMPHIS","DUNKIRK","PORT EYE","CRANFORD","TUCSON","POUGHKEEPSIE","FRANKLIN","SAG HARBOR","PITTSBURG","LAKEWOOD","METUCHEN","TAMPA","RICHFORD","NEWTON","ALVARADO","MAYFIELD","PALISADES PARK","BLACKHAWK","SAN JUAN","FOREST HILLS","DELAWARE","HOPSON CREEK","VACAVILLE","BELLA VISTA",]
for i in lissy_5:
    similar(data, "CITY1", i, min_ratio = 75)

['CHARLESTOWN', 'CHARLESTON', 'HAGERSTOWN']
['ALEXANDRIA']
['GETTYSBURG']
['AUGUSTA']
['ST PAUL']
['SUMMIT']
['MORRISTOWN', 'NORRISTOWN']
['TACOMA']
['MILLSVILLE', 'BELLVILLE']
['ANN ARBOR']
['MANCHESTER']
['LEWISTON', 'LEWISTOWN', 'LOUISTON']
['DEER LODGE']
['CORONA']
['EUREKA']
['HILLSBURG']
['COURTLEE', 'CORTERET']
['LINDEN']
['LITTLE FALLS']
['SPOKANE FALLS', 'SPOKAINE FALLS']
['JACKSON']
['MIDDLETOWN']
['WHITTIKER']
['MILBURN', 'MILLBURN']
['MINNEAPOLIS', 'ANNAPOLIS']
['MISSIOULA']
['RAHWAY']
['PORT ORLANDO']
['ELMIRA']
['DALLAS']
['LYNN']
['OGDEN']
['NAUGATUCK']
['AMERICAN CANYON']
['OSSINING', 'OSISNING']
['COLLINGSWOOD']
['WEAVERVILLE']
['GALVESTON']
['HIGHLAND PARK']
['YREKA']
['BELLAIRE', 'BELLROSE']
['DELVILLE', 'BELLVILLE', 'BELLEVILLE', 'DANVILLE']
['PRINCETON', 'PRINCETONE']
['RAPID CITY']
['COLUSA']
['DELSEY']
['MODESTO']
['GREENWICH']
['GLENS FALLS', 'GLEN FALLS']
['THE DAWLES']
['ELMHURST', 'LINHURST']
['BANGOR']
['PASADENA']
['MADISON']
['CALESOTA']
['SPOKAINE FALLS', 'SPOKANE FALLS']
['IOWA CITY']
['BLOOMFIELD']
['UNION CITY']
['SALT LAKE CITY']
['VALLEGO', 'VALLEJO']
['MUSCATINE']
['BRADFORD', 'CRANFORD']
['HELENA', 'ST HELENA', 'CHELSEA']
['HARRISBURG']
['PALMYRA']
['OAKVILLE', 'PARKVILL', 'OROVILLE', 'DANVILLE']
['NORRISTOWN', 'MORRISTOWN']
['SHELTON', 'STEELTON', 'HAZELTON']
['GLOBE CITY']
['GLEN FALLS', 'GLENS FALLS']
['GRANTSWOOD', 'GRANTWOOD']
['ANACONDA']
['HASBROUCK HEIGHTS']
['IRVINGTON', 'ARLINGTON', 'COVINGTON']
['LYNBROOK']
['SALEM']
['EASTON', 'EVANSTON', 'EASTOW']
['GREENVILLE', 'GRANVILLE']
['MT. KISCO']
['WILLIAMSTOWN']
['SAUSELITO']
['POMPTON LAKES']
['MILES CITY']
['SACALINDA']
['WINTERVILLE']
['ST HELENA', 'HELENA']
['NEW LONDON']
['WALLA WALLA']
['UNION HILL']
['BAKER CITY']
['QUANTICO']
['MASPETH']
['MEMPHIS']
['DUNKIRK']
['PORT EYE', 'FREEPORT']
['CRANFORD', 'BRADFORD', 'STANFORD']
['TUCSON']
['POUGHKEEPSIE', 'ROUGHKEEPSIE']
['FRANKLIN']
['SAG HARBOR']
['PITTSBURG', 'PITTSBURGH', 'PLATTSBURGH']
['LAKEWOOD']
['METUCHEN']
['TAMPA']
['RICHFORD', 'RICHMOND']
['NEWTON']
['ALVARADO']
['MAYFIELD']
['PALISADES PARK']
['BLACKHAWK']
['SAN JUAN']
['FOREST HILLS']
['DELAWARE']
['HOPSON CREEK']
['VACAVILLE']
['BELLA VISTA']

In [34]:
data.loc[:,"CITY1"].replace('NEWPORT NEWS', 'NEWPORT',inplace = True)
data.loc[:,"CITY1"].replace('MILLSVILLE', 'MILLVILLE', inplace = True)
data.loc[:,"CITY1"].replace('MECHANSVILLE', 'MECHANICVILLE', inplace = True)
data.loc[:,"CITY1"].replace('BEACFIELD', 'BEACHFIELD', inplace = True)
data.loc[:,"CITY1"].replace(['RICHMOND HILL''RICHMOND HILLS',"'RICHMONT HILL'"], 'RICHMOND', inplace = True)
data.loc[:,"CITY1"].replace(['S. NORWALK','SOUTH NORWALK'], 'NORWALK', inplace = True)
data.loc[:,"CITY1"].replace('STANFORD', 'STAMFORD', inplace = True)
data.loc[:,"CITY1"].replace('DUTCH FLATS', 'DUTCH FLAT', inplace = True)
data.loc[:,"CITY1"].replace('KEYWEST', 'KEY WEST', inplace = True)
data.loc[:,"CITY1"].replace('BERKLEY', 'BERKELEY', inplace = True)
data.loc[:,"CITY1"].replace(['MINEOLA', 'MINEOZA', 'NINEALA',"PAWWOOD L.I."], "LONG ISLAND", inplace = True)
data.loc[:,"'CITY1"] = data.loc[:,"CITY1"].replace('PITTSBURG', 'PITTSBURGH',inplace=True)
data.loc[:,"'CITY1"] = data.loc[:,"CITY1"].replace('BELLVILLE', 'BELLEVILLE',inplace=True)
data.loc[:,"'CITY1"] = data.loc[:,"CITY1"].replace('LEWISTON', 'LEWISTOWN',inplace=True)
data.loc[:,"'CITY1"] = data.loc[:,"CITY1"].replace('GLEN FALLS', 'GLENS FALLS',inplace=True)
data.loc[:,"'CITY1"] = data.loc[:,"CITY1"].replace(['SPOKANE FALLS', 'SPOKAINE FALLS'], 'SPOKANE',inplace=True)
data.loc[:,"'CITY1"] = data.loc[:,"CITY1"].replace('MILBURN', 'MILLBURN',inplace=True)
data.loc[:,"'CITY1"] = data.loc[:,"CITY1"].replace('OSISNING', 'OSSINING',inplace=True)
data.loc[:,"'CITY1"] = data.loc[:,"CITY1"].replace('OSISNING', 'OSSINING',inplace=True)
data.loc[:,"'CITY1"] = data.loc[:,"CITY1"].replace('PRINCETONE', 'PRINCETON',inplace=True)
data.loc[:,"'CITY1"] = data.loc[:,"CITY1"].replace('BELLAIRE', 'JAMAICA',inplace=True)
data.loc[:,"'CITY1"] = data.loc[:,"CITY1"].replace('BELLROSE', 'BELLEROSE',inplace=True)
data.loc[:,"'CITY1"] = data.loc[:,"CITY1"].replace('VALLEGO', 'VALLEJO',inplace=True)
data.loc[:,"'CITY1"] = data.loc[:,"CITY1"].replace('WILMOW', 'WILMORE',inplace=True)

print("done")

done

In [35]:
data["STATE1"].value_counts()

NY         7136
CA         1151
NJ          693
PA          530
MA          186
MD          152
CT          133
OR           82
DC           79
WA           61
IL           46
OH           39
VA           39
MT           34
RI           20
?            19
MI           18
CO           13
NE           12
FL           11
TX           10
ME            9
MO            7
VT            6
MN            6
IN            6
SD            5
IA            5
ID            5
LA            5
DE            5
GA            4
NV            4
TN            4
UT            4
HI            3
MS            3
SC            3
NH            3
WY            3
KS            2
KT            2
NC            2
OK            2
AR            1
NI            1
WI            1
KY            1
AZ            1
SAFRICA       1
N             1
AL            1
AK            1
IO            1
VI            1
WV            1
ST            1
[A            1
CANADA        1
Y             1
Name: STATE1, dtype: int64

In [36]:
data.loc[:,"'STATE1"] = data.loc[:,"STATE1"].replace(['Y','N'], 'NY',inplace=True)
data.loc[:,"'STATE1"] = data.loc[:,"STATE1"].replace('NI', 'MI',inplace=True)
data.loc[:,"'STATE1"] = data.loc[:,"STATE1"].replace('IO', 'ID',inplace=True)
data.loc[:,"'STATE1"] = data.loc[:,"STATE1"].replace('ST', 'MD',inplace=True)
data.loc[:,"'STATE1"] = data.loc[:,"STATE1"].replace('[A', 'PA',inplace=True)
data.loc[:,"'STATE1"] = data.loc[:,"STATE1"].replace('VI', 'NC',inplace=True)
data.loc[:,"'STATE1"] = data.loc[:,"STATE1"].replace('AR', 'AZ',inplace=True)
data.loc[:,"'STATE1"] = data.loc[:,"STATE1"].replace('KT', 'KY',inplace=True)
data.loc[5976,"STATE1"] = "FL"
data.loc[6142,"STATE1"] = "WA"
data.loc[6143,"STATE1"] = "WA"
data.loc[6276,"STATE1"] = "CA"
data.loc[6277,"STATE1"] = "CA"
data.loc[6344,"STATE1"] = "AZ"
data.loc[6345,"STATE1"] = "AZ"
data.loc[6391,"STATE1"] = "NJ"
data.loc[6392,"STATE1"] = "NJ"
data.loc[6621,"STATE1"] = "CANADA"
data.loc[6622,"STATE1"] = "CANADA"
data.loc[6710,"STATE1"] = "PA"

In [37]:
temp = ['?']
for i in temp:  
    index = data[data["STATE1"] == i].index.tolist()[0]
    value = data.loc[index,"CITY1"]
    print(index) 
    print(value)

5775
THE DAWLES

In [38]:
data.to_csv("./output_1.csv")